.nft-item__graph {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    *{
        // color: #000;
    }
    .nft-item__graph--img {
        // flex: 1;
        width: 100%;
        // background: #222;
        // border-radius: 12px;
        // padding: 16px;

        .nft-item__graph--img__title {
            color: #f1f1f1;
            font-family: Inter600;
            font-size: 14px;
            margin-bottom: 16px;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }
} 



@media screen and (max-width: 1000px) {
    .nft-item__graph{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .nft-item__graph {
        flex-direction: column;
    }
}