.nft-slider__swiper{
}
.nft-slider{
    padding: 16px 0 40px;
    height: 240px;
    .swiper-slide{
        height: 170px !important;
        border-radius: 12px;
        overflow: hidden;
        transition: 0.3s;
        opacity: 0.5;
        transform: scale(0.8);
    }
    .swiper-slide-active{
        // width: 300px !important;
        // height: 170px !important;
        opacity: 1;
        transform: scale(1);
    }
    .swiper-button-prev{
        width: 24px;
        height: 24px;
        background: url('../../assets/images/album/prev-btn.svg') center no-repeat;
        background-size: cover;
        left: 38%;
        top:auto;
        bottom: 4px;
        z-index: 3;
        &::after{
            display: none !important;
        }
    }
    .swiper-button-next{
        width: 24px;
        height: 24px;
        background: url('../../assets/images/album/next-btn.svg') center no-repeat;
        background-size: cover;
        right: 38%;
        top:auto;
        bottom: 4px;
        z-index: 3;
        &::after{
            display: none !important;
        }
    }
    .swiper-pagination{
        z-index: 1;
        margin-top: 40px;
    }
    .swiper-pagination-bullet{
        width: 4px !important;
        height: 8px !important;
        border-radius: 0 !important;
        background: #CF0 !important;
        transition: 0.3s;
        &.swiper-pagination-bullet-active{
            height: 16px !important;
            position: relative;
            top: 4px;
        }
    }
    .nft-slider__item{
        display: flex;
        gap: 8px;
        flex: 1;
        justify-content: center;
        width: 100%;
        position: relative;
        img{
            width: 100%;
            height: 170px;
            object-fit: cover;
        }
        .nft-slider__item__title{
            color: #FFF;
            font-family: Inter600;
            font-size: 18px;
            font-style: normal;
            line-height: normal;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: #FFF;
            font-family: Inter600;
            font-size: 18px;
            font-style: normal;
            line-height: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.5);
        }
    }
} 



@media screen and (max-width: 768px) {
    .nft-slider__swiper{
        .nft-slider{
            padding: 16px 40px 40px 0 !important;
            .swiper-slide{
                // width:300px !important;
            }
            .swiper-slide-active{
                // width:  !important;
            }
        }
    }
    .nft-slider__swiper{
        .nft-slider{
            .swiper-button-next{
                right: 20%;
            }
            .swiper-button-prev{
                left: 20%;
            }
        }
    }
}

@media screen and (max-width: 500px) {

}
