.nft-component-search {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #383838;
    background-color: #0b0b0c;
    width: 100%;
    display: flex;
    transition: 0.2s;

    &.focus {
        border-color: #cf0;
    }

    .search__input {
        all: unset;
        flex: 1;
        outline: none;
        // border: none;
    }
    .search__button {
        width: 24px;
        height: 24px;
    }
}
