.account-setting {
  .account-setting--title {
    color: var(--primary-base, #cf0);
    font-family:  Pretendard600;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 40px;
    font {
      font-family:  inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      font-style: inherit !important;
      color: inherit !important;
      letter-spacing: inherit !important;
    }
  }
  .account-setting__info {
    margin-bottom: 40px;
    display: flex;
    padding: 20px 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--Color-03, #222);
    .account-setting__info-box {
      .info-box__title {
        color: #cf0;
        font-family:  Pretendard400;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.72px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
        margin-bottom: 16px;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
      .info-box__picture-box {
        .picture-box__title {
          color: #f1f1f1;
          font-family:  Pretendard500;
          font-size: 18px;
          font-style: normal;
          line-height: normal;
          margin-bottom: 8px;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
        }
        .picture-box__edit-box {
          position: relative;
          margin-bottom: 8px;
          z-index: 1;
          img {
            width: 160px;
            height: 160px;
            flex-shrink: 0;
            border-radius: 50%;
            object-fit: cover;
          }
          .picture-box__edit-btn {
            position: absolute;
            bottom: 0;
            left: 50%;
            background-color:#222;
            border-radius: 50%;
            padding: 8px;
            cursor: pointer;
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
        .picture-box__desc {
          color:#a9d400;
          font-family: Pretendard400;
          font-size: 14px;
          font-style: normal;
          line-height: normal;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
        }
      }
    }
    .account-setting__background-box {
      width: 100%;
      .background-box__title {
        color:#f1f1f1;
        font-family:  Pretendard500;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-bottom: 8px;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
      .background-box__edit-box {
        padding: 4px;
        width: 100%;
        height: 170px;
        border-radius: 4px;
        border: 1px solid #222;
        background: #1a1a1a;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-bottom: 8px;
        .background-box__edit-btn {
          display: flex;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 4px;
          background:#272727;
          margin-left: auto;
          width: fit-content;
          cursor: pointer;
          img {
            margin-right: 8px;
          }
          span {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            line-height: 100%; /* 14px */
            font {
              font-family:  inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
          }
        }
      }
      .background-box__desc {
        color:#a9d400;
        font-family: Pretendard400;
        font-size: 14px;
        font-style: normal;
        line-height: normal;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
    }
    .account-setting__user-info {
      width: 100%;
      .user-info__item {
        width: 100%;
        margin-bottom: 16px;
        .user-info__title {
          color: #f1f1f1;
          font-family:  Pretendard500;
          font-size: 18px;
          font-style: normal;
          line-height: normal;
          margin-bottom: 8px;
            font {
              font-family:  inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
        }
        .user-info__desc-box {
          display: flex;
          justify-content: space-between;
          .user-info__count {
            color:#a9d400;
            font-family: Pretendard400;
            font-size: 14px;
            font-style: normal;
            line-height: 100%; /* 14px */
            white-space: nowrap;
                        font {
              font-family:  inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
          }
        }
        .user-info__desc {
          color:#a9d400;
          font-family: Pretendard400;
          font-size: 14px;
          font-style: normal;
          line-height: normal;
          margin-bottom: 12px;
            font {
              font-family:  inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
        }
        .user-info__input-box {
          display: flex;
          align-items: center;
          width: 100%;
          margin: 16px 0 4px 0;
          height: 54px;
          align-self: stretch;
          border-radius: 12px;
          border: 1px solid #383838;
          background: #0b0b0c;
          .user-info__input {
            z-index: 1;
            display: flex;
            padding: 12px;
            gap: 10px;
            border: none;
          }
          .user-info__edit-btn {
            display: flex;
            width: auto;
            white-space: nowrap;
            height: 30px;
            padding: 4px 10px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: #1a1a1a;
            border-radius: 12px;
            background:#cf0;
            font-family:  Pretendard600;
            font-size: 14px;
            font-style: normal;
            line-height: normal;
            margin-right: 12px;
            font {
              font-family:  inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
          }
        }
        .user-info__error {
          color:#df1919;
          font-size: 12px;
          font-style: normal;
                  font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
        }
      }
    }
  }
  .account-setting__details {
    margin-bottom: 40px;
    display: flex;
    padding: 20px 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #222;
    .details__header {
      .details__title {
        color:#cf0;
        font-family:  Pretendard400;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
    }
    .details__item {
      width: 100%;
      margin-bottom: 16px;
      .details__item-title {
        color:#f1f1f1;
        font-family:  Pretendard500;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-bottom: 8px;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
      .details__input {
        border-radius: 12px;
        border: 1px solid #383838;
        background: #0b0b0c;
        display: flex;
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
                font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
    }
  }
  .account-setting__social-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    width: 100%;
    cursor: grabbing;
    transition: 0.2s all;
    .account-setting__social-item--drag {
      cursor: grabbing;
      height: 100%;
    }

    .account-setting__social-item--input-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;
      position: relative;
    }
    .account-setting__social-item--input {
      padding: 12px;
      border-radius: 12px;
      border: 1px solid #383838;
      width: 100%;
      transition: 0.2s all;
      &:focus {
        border-color: #cf0;
      }
    }
    .account-setting__social-item--input-error {
      color: #df1919;
      font-size: 12px;
      position: absolute;
      top: calc(100% + 1px);
      white-space: nowrap;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
    }

    .account-setting__social-item--delete {
      cursor: pointer;
    }
  }

  .account-setting__social-add-btn {
    padding: 8px 16px;
    display: flex;
    gap: 8px;
    color: #aaa;
    font-family: Pretendard500;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    border-radius: 12px;
    background-color: #222;
    align-items: center;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
  }

  .account-setting__submit {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 54px;
    border-radius: 12px;
    background: #cf0;
    font-family:  Pretendard600;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-top: 40px;
    cursor: pointer;
    color: black;
    position: relative;
    top: 0px;
    transition: 0.2s all;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
    &:hover {
      top: 4px;
      &::before {
        top: 0px;
      }
    }

    &:disabled {
      background-color: #000;
      color: #565656;
      border: 1px solid #2c3a00;
      pointer-events: none;

      &::before {
        top: 5px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #2c3a00;
      }
    }

    &::before {
      content: '';
      width: calc(100% - 2px);
      height: calc(100% - 1px);
      border-radius: 12px;
      border: 1px solid #cf0;
      position: absolute;
      top: 4px;
      transition: 0.2s all;
    }
  }
  .account-setting__social {
    margin-bottom: 40px;
    display: flex;
    padding: 20px 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #222;
    .social__header {
      .social__title {
        color: #cf0;
        font-family:  Pretendard400;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
                font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
    }
    .social__item {
      width: 100%;
      .social__item-title {
        color: #f1f1f1;
        font-family:  Pretendard500;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-bottom: 8px;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
      .social__desc {
        color: #a9d400;
        font-family: Pretendard400;
        font-size: 14px;
        font-style: normal;
        line-height: normal;
        margin-bottom: 12px;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
      .social__input-box {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 16px 0 4px 0;
        height: 54px;
        align-self: stretch;
        border-radius: 12px;
        border: 1px solid #383838;
        background: #0b0b0c;
        .social__input {
          z-index: 1;
          display: flex;
          padding: 12px;
          gap: 10px;
          border: none;
        }
        .social__edit-btn {
          width: 120px;
          display: flex;
          height: 28px;
          padding: 4px 10px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          color:#1a1a1a;
          border-radius: 12px;
          background: #cf0;
          font-family:  Pretendard600;
          font-size: 14px;
          font-style: normal;
          line-height: normal;
          margin-right: 12px;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
        }
      }
      .social__error {
        color: var(--warning, #df1919);
        font-size: 16px;
        font-style: normal;
                font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
    }
  }
  .account-setting__error {
    font-size: 12px;
    color: #df1919;
    white-space: nowrap;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
  }
}
