.preparing-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__content {
    background: #1A1A1A;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid #222;
    text-align: center;
    max-width: 400px;
    width: 90%;

    h2 {
      color: #CF0;
      font-family: Pretendard600;
      font-size: 24px;
      margin-bottom: 16px;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
    }

    p {
      color: #F1F1F1;
      font-family: Pretendard400;
      font-size: 16px;
      margin-bottom: 24px;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
    }

    button {
      background: #CF0;
      color: #1A1A1A;
      border: none;
      padding: 8px 24px;
      border-radius: 8px;
      font-family: Pretendard500;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
        font {
          font-family:  inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }

      &:hover {
        background: #A9D400;
      }
    }
  }
} 