.song-detail {
  .album-detail__title {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    dt {
      color: #cf0;
      font-family: Pretendard600;
      font-size: 30px;
      font-style: normal;
      line-height: normal;
      font{
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
    }
    dd {
      color: #f1f1f1;
      font-family: Pretendard400;
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      font{
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
      .album-detail__song-detail__right__version {
        color: #f1f1f1;
        font-family: Pretendard500;
        font-size: 12px;
        font-style: normal;
        line-height: normal;
        border: 1px solid #00ffb3;
        border-radius: 12px;
        padding: 8px 12px;
        white-space: nowrap;
        font{
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
    }
  } //album-detail__title--END--

  .main__content-item__persona {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0 32px 0;
    overflow: auto;
    overflow: auto;
    .main__content-item__persona__item {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      cursor: pointer;
      img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: 2px solid transparent;
        transition: 0.3s;
      }
      p {
        color: #f1f1f1;
        font-family: Pretendard500;
        font-size: 12px;
        white-space: nowrap;
        font{
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
      &.active {
        img {
          border: 2px solid #cf0;
          box-shadow: 0px 0px 3px 0px #cf0;
        }
      }
    } //main__content-item__persona__item--END--
  } //main__content-item__persona--END--

  .album__content-list__tab {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    overflow: auto;
    margin-top: 16px;
    padding-bottom: 16px;
    .album__content-list__tab__item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px 4px 12px 12px;
      background: #222;
      height: 30px;
      padding: 0 12px;
      gap: 8px;
      transition: 0.3s;
      white-space: nowrap;
      font{
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
      &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: url('../assets/images/album/album-tab_icon01.svg') center no-repeat;
        background-size: cover;
        transition: 0.3s;
      }
      &:hover {
        background: #cf0;
        color: #222;
        &::before {
          background: url('../assets/images/album/album-tab_icon01-on.svg') center no-repeat;
        }
      }
      &:nth-child(2) {
        &::before {
          background: url('../assets/images/album/album-tab_icon02.svg') center no-repeat;
        }
        &:hover {
          &::before {
            background: url('../assets/images/album/album-tab_icon02-on.svg') center no-repeat;
          }
        }
      }
      &.active {
        background: #cf0;
        color: #222;
        &::before {
          background: url('../assets/images/album/album-tab_icon01-on.svg') center no-repeat;
        }
        &:nth-child(2) {
          &::before {
            background: url('../assets/images/album/album-tab_icon02-on.svg') center no-repeat;
          }
        }
      }
    } //album__content-list__tab__item--END--
  } //album__content-list__tab--END--

  .album-detail__song-detail {
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #222;
    .album-detail__song-detail__title-box {
      display: flex;
      align-items: first baseline;
      justify-content: space-between;
      .album-detail__song-detail__title {
        color: #cf0;
        font-family: Pretendard400;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.72px;
        margin-bottom: 16px;
        position: relative;
        display: inline-block;
        font{
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
        &::after {
          content: '';
          position: absolute;
          top: -2px;
          left: -4px;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background: #cf0;
        }
      } //album-detail__song-detail__title--END--
    }
    .album-detail__song-detail__bot {
      // display: flex;
      // gap: 16px;
      .album-detail__song-detail__bot__title {
        color: #f1f1f1;
        font-family: Pretendard500;
        font-size: 20px;
        font-style: normal;
        margin-bottom: 16px;
        font{
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      } //album-detail__song-detail__bot__title--END--
      .album-detail__song-detail__bot__content {
        display: flex;
        gap: 16px;
        width: 100%;
      } //album-detail__song-detail__bot__content--END--
      .album-detail__song-detail__left {
        width: 420px;
        flex-shrink: 0;
        position: relative;
        .album-detail__song-detail__left__title {
          color: #f1f1f1;
          font-family: Pretendard500;
          font-size: 20px;
          font-style: normal;
          margin-bottom: 16px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          min-height: 52px;
          font{
            font-family: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
        } //.album-detail__song-detail__left__title
        .album-detail__song-detail__left__img__lyrics-btn {
          position: absolute;
          right: 16px;
          bottom: 16px;
          background: #000;
          border-radius: 12px;
          padding: 4px 12px;
          color: #fff;
          font-family: Pretendard400;
          font-size: 12px;
          font-style: normal;
          line-height: normal;
          font{
            font-family: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
        }
        .album-detail__song-detail__left__img {
          width: 100%;
          height: 450px;
          border-radius: 24px;
          background:#222;
          padding: 10px;
          position: relative;
          cursor: pointer;
          &.active {
            .album-detail__song-detail__left__img__txt {
              opacity: 1;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
          }
          .album-detail__song-detail__left__img__txt {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            opacity: 0;
            overflow: auto;
            border-radius: 24px;
            // margin-bottom: 16px;
            font{
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
            pre {
              width: 100%;
              min-height: 100%;
              height: auto;
              position: relative;
              z-index: 1;
              background: transparent;
              font-size: 14px;
              width: 100%;
              overflow-x: auto;
              white-space: pre-wrap;
              padding: 32px;
              font{
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                font-style: inherit !important;
                color: inherit !important;
                letter-spacing: inherit !important;
              }
              &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: #000;
                opacity: 0.6;
              }
            }
          } //album-detail__song-detail__left__img__txt--END--
        } //album-detail__song-detail__left__img--END--
        .album-detail__song-detail__left__img__play-btn {
          display: flex;
          width: 100%;
          height: 48px;
          padding: 12px 20px;
          justify-content: center;
          align-items: center;
          align-self: stretch;
          border-radius: 16px;
          border: 1px solid #cf0;
          color: #fff;
          font-family: Pretendard500;
          font-size: 14px;
          font-style: normal;
          line-height: 100%; /* 14px */
          margin-top: 12px;
          font{
            font-family: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
          img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26px;
            height: 26px;
            object-fit: cover;
            margin-right: 12px;
            background: #fff;
            border-radius: 100%;
          }
        }
        .album-detail__song-detail__left__info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;
          .play {
            padding-left: 4px;
            display: flex;
            align-items: center;
            color: #aaa;
            gap: 6px;
            font-family: Pretendard400;
            font-size: 12px;
            font-style: normal;
            font{
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
          }
          .album-detail__song-detail__left__info__number {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            p {
              position: relative;
              cursor: pointer;
              .tw-connect-wallet {
                position: absolute;
                top: 0 !important;
                left: 0 !important;
                border-radius: 0 !important;
                width: 66px !important;
                padding: 0 !important;
                height: 22px !important;
                font-size: 0 !important;
                z-index: 10 !important;
                min-width: auto !important;
                opacity: 0;
                background: transparent !important;
                display: block;
              }
              .tw-connected-wallet {
                display: none;
                opacity: 0;
                z-index: -10 !important;
              }
              &.play {
                cursor: auto;
              }
            }
            button,
            p {
              // width: 66px;
              display: flex;
              align-items: center;
              color: #aaa;
              gap: 6px;
              font-family: Pretendard400;
              font-size: 12px;
              padding: 4px 6px;
              background-color: #222;
              border-radius: 6px;
              height: 32px;
              font{
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                font-style: inherit !important;
                color: inherit !important;
                letter-spacing: inherit !important;
              }
              &.play {
                img {
                  padding: 5px;
                }
              }
              &.nfts {
                gap: 4px;
                border: 1px solid #383838;
                &.New {
                  border-color: #ffffff;
                }
                &.Indie {
                  border-color: #b89334;
                }
                &.Rising {
                  border-color: #00d5a7;
                }
                &.Top {
                  border-color: #df454d;
                }
                &.Legend {
                  border-color: #5a9bf6;
                }

                .nfts-section {
                  width: 1px;
                  height: 100%;
                  background-color: #565656;
                }
                .nfts-text {
                  color: #fff;
                  font-family: Pretendard400;
                  font-size: 8px;
                  font{
                    font-family: inherit !important;
                    font-size: inherit !important;
                    font-weight: inherit !important;
                    line-height: inherit !important;
                    font-style: inherit !important;
                    color: inherit !important;
                    letter-spacing: inherit !important;
                  }
                }
              }
            }
          } //album-detail__song-detail__left__info__number--END--
          .album-detail__song-detail__left__info__btn-box {
            display: flex;
            align-items: center;
            gap: 8px;
            .album-detail__song-detail__left__info__txid-btn {
              display: flex;
              width: 70px;
              padding: 4px 6px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 8px;
              align-self: stretch;
              border-radius: 6px;
              background:#222;
            }
            .album-detail__song-detail__left__info__dow-btn {
              font-size: 0;
              width: 32px;
              height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 6px;
              background-color: #222;
            }
            .album-detail__song-detail__more-btn {
              // padding: 4px 6px;
              border-radius: 6px;
              background-color: #222;
              height: 32px;
              width: 32px;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.3s;
              border: 1px solid transparent;
              position: relative;
              &:hover {
                border: 1px solid #a9d400;
              }
              &.active {
                .album-detail__song-detail__more-btn__list {
                  height: 116px !important;
                  opacity: 1;
                }
              }
              .album-detail__song-detail__more-btn__list {
                position: absolute;
                right: 0;
                top: 38px;
                border-radius: 12px;
                border: 1px solid #678300;
                background: #0b0b0c;
                transition: 0.3s;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                width: 140px;
                transition: 0.3s;
                height: 0;
                opacity: 0;
                z-index: 10;
                li {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  gap: 16px;
                  align-items: center;
                  cursor: pointer;
                  padding: 0px 12px;
                  height: 38px;
                  transition: 0.3s;
                  color: #fff;
                  font-family: Pretendard400;
                  font-size: 14px;
                  transition: 0.3s;
                  text-align: left;
                  font{
                    font-family: inherit !important;
                    font-size: inherit !important;
                    font-weight: inherit !important;
                    line-height: inherit !important;
                    font-style: inherit !important;
                    color: inherit !important;
                    letter-spacing: inherit !important;
                  }
                  img {
                    width: 18px;
                    height: 18px;
                    object-fit: cover;
                  }
                  &:hover {
                    background: #222;
                  }
                }
              } //album-detail__song-detail__more-btn__list--END--
            } //album-detail__song-detail__more-btn--END--
          }
        } //album-detail__song-detail__left__info--END--
      } //album-detail__song-detail__left--END--
      .album-detail__song-detail__right {
        flex: 1;
        flex-shrink: 0;
        .album-detail__song-detail__right__box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;
          .album-detail__song-detail__right__title {
            color: #f1f1f1;
            font-family: Pretendard500;
            font-size: 20px;
            font-style: normal;
            font{
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
          } //album-detail__song-detail__right__title--END--
          .album-detail__song-detail__right__version {
            color: #f1f1f1;
            font-family: Pretendard500;
            font-size: 12px;
            font-style: normal;
            line-height: normal;
            border: 1px solid #00ffb3;
            border-radius: 12px;
            padding: 8px 12px;
            white-space: nowrap;
            font{
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
          } //album-detail__song-detail__right__version--END--
        }
        .album-detail__song-detail__right__type {
          display: flex;
          align-items: center;
          gap: 16px;
          flex-wrap: wrap;
          .album-detail__song-detail__right__type__item {
            display: flex;
            align-items: center;
            justify-content: center;
            color:#1a1a1a;
            font-family: Pretendard400;
            font-size: 14px;
            font-style: normal;
            line-height: normal;
            border-radius: 12px 4px 12px 12px;
            background: #00ffb3;
            border: 1px solid #00ffb3;
            height: 24px;
            padding: 0 12px;
            position: relative;
            &::before {
              content: '';
              display: block;
              position: absolute;
              bottom: -5px;
              left: -1px;
              width: 100%;
              height: 24px;
              border-bottom: 1px solid #00ffb3;
              border-left: 1px solid #00ffb3;
              border-right: 1px solid #00ffb3;
              border-radius: 12px 12px 12px;
            }
            font{
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
          } //album-detail__song-detail__right__type__item--END--
        } //album-detail__song-detail__right__type--END--
        .album-detail__song-detail__right__info-box {
          display: flex;
          flex-direction: column;
          gap: 12px;
          margin-top: 20px;
          dl {
            display: flex;
            align-items: center;
            border: 1px solid #222;
            border-radius: 6px;
            height: 36px;
            overflow: hidden;
            &.artist {
              dd {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
              }
            }
            dt {
              text-align: center;
              min-height: 34px;
              height: 100%;
              min-width: 174px;
              padding: 0 8px;
              background: #222;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -12px;
                display: block;
                width: 12px;
                height: 100%;
                border-right: 1px solid #222;
                background: #1a1a1a;
              }
            }
            dd {
              // max-height: 40px;
              // overflow: auto;
              padding: 8px 12px 8px 24px;
              color:#aaa;
              font-family: Pretendard400;
              font-size: 12px;
              display: flex;
              align-items: center;
              display: flex;
              flex-direction: column;
            font{
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
              span {
                color:#aaa;
                gap: 4px;
                font-family: Pretendard400;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                font{
                  font-family: inherit !important;
                  font-size: inherit !important;
                  font-weight: inherit !important;
                  line-height: inherit !important;
                  font-style: inherit !important;
                  color: inherit !important;
                  letter-spacing: inherit !important;
                }
              }
              .user {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                img {
                  width: 16px;
                  height: 16px;
                  overflow: hidden;
                  border-radius: 100%;
                }
              }
              .see-more-btn {
                color: #aaa;
                font-family: Pretendard400;
                font-size: 14px;
                font-style: normal;
                transition: 0.3s;
                font{
                  font-family: inherit !important;
                  font-size: inherit !important;
                  font-weight: inherit !important;
                  line-height: inherit !important;
                  font-style: inherit !important;
                  color: inherit !important;
                  letter-spacing: inherit !important;
                }
                &:hover {
                  color: #cf0;
                }
              }
            }
          }
          .album-detail__song-detail__right__info-box__detail {
            width: 100%;
            display: flex;
            align-items: center;
            display: flex;
            align-items: center;
            border: 1px solid #222;
            background: #222;
            // min-height: 36px;
            overflow: hidden;
            border-radius: 6px;
            position: relative;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 174px;
              display: block;
              width: 12px;
              height: 100%;
              border-right: 1px solid #222;
              background: #1a1a1a;
            }
            span {
              text-align: center;
              // min-height: 34px;
              // height: 100%;
              min-width: 174px;
              padding: 8px 8px;
              background: #222;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
            }
            strong {
              background: #121212;
              color: #aaa;
              font-family: Pretendard400;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              display: flex;
              align-items: start;
              display: flex;
              width: 100%;
              justify-content: start;
              flex-direction: column;
              padding: 11px 16px 11px 24px;
              max-height: 54px;
              overflow: auto;
                font{
                  font-family: inherit !important;
                  font-size: inherit !important;
                  font-weight: inherit !important;
                  line-height: inherit !important;
                  font-style: inherit !important;
                  color: inherit !important;
                  letter-spacing: inherit !important;
                }
            }
          } //album-detail__song-detail__right__info-box__detail--END--
        } //album-detail__song-detail__right__info-box--END--
      } //album-detail__song-detail__right--END--
    } //album-detail__song-detail__bot--END--
  } //album-detail__song-detail--END--

  .album-detail__control-guide {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .album-detail__control-guide--text {
    font-family: Pretendard600;
    color: #fff;
    font{
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      font-style: inherit !important;
      color: inherit !important;
      letter-spacing: inherit !important;
    }
  }
  .album-detail__control-guide--icon {
    width: 16px;
    height: 16px;
    object-fit: cover;
    cursor: pointer;
  }

  .album-detail__control-button-wraps {
    display: flex;
    gap: 24px;
  }
  .album-detail__control-button {
    width: 100%;
    border-radius: 12px;
    position: relative;
    transition: 0.2s all;
    top: 0px;
    font-family: Pretendard600;
    height: 40px;
    // padding: 12px;
    color: #1a1a1a;
      font{
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
    &:disabled {
      color: #565656 !important;
      background-color: #000 !important;
      cursor: default;
      &:hover {
        top: 0px;
        &::after {
          top: 4px;
        }
      }
      &::after {
        width: 100%;
        border: none;
        border-bottom: 1px solid;
      }
    }

    &:hover {
      top: 4px;
      &::after {
        top: 0px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      transition: 0.2s all;
      height: calc(100% - 1px);
      width: calc(100% - 2px);
      border-radius: 12px;
      border: 1px solid red;
    }

    &.buy-button,
    &.release-button {
      background-color: #cf0;
      &::after {
        border-color: #cf0;
      }
      &:disabled {
        border: 1px solid #2c3a00;
        &::after {
          border-color: #2c3a00;
        }
      }
    }

    &.mint-button {
      background-color: #00ffb3;
      &::after {
        border-color: #00ffb3;
      }
      &:disabled {
        border: 1px solid #003321;
        &::after {
          border-color: #003321;
        }
      }
    }

    &.sell-button {
      background-color: #4ee1fb;
      &::after {
        border-color: #4ee1fb;
      }
      &:disabled {
        border: 1px solid #126270;
        &::after {
          border-color: #126270;
        }
      }
    }

    &.cancel-button {
      background-color: #df1919;
      &::after {
        border-color: #df1919;
      }
      &:disabled {
        border: 1px solid #7d0021;
        &::after {
          border-color: #7d0021;
        }
      }
    }
  }

  .album-detail__audio {
    border-radius: 12px;
    border: 1px solid #222;
    padding: 16px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
    // min-height: 136px;
    .album-detail__audio__cover {
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.2;
        border-radius: 100%;
        z-index: 10;
      }
      content: '';
      width: 200px;
      height: 200px;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-20%, -50%);
      background: url('../assets/images/album/album-bg.png') center no-repeat;
      background-size: cover;
      z-index: 0;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        border-radius: 100%;
        overflow: hidden;
      }
      animation: rotateCover 4s linear infinite;
      animation-play-state: paused; /* 기본값은 정지 */
      &.playing {
        animation-play-state: running; /* 재생 시 회전 시작 */
      }
      @keyframes rotateCover {
        0% {
          transform: translate(-20%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-20%, -50%) rotate(360deg);
        }
      }
    } //album-detail__audio__cover--END--
    .rhap_volume-controls {
      position: relative;
      top: 6px;
    }
    .rhap_container {
      // margin-top: 16px;
      background: transparent;
      border: 1px solid transparent;
      border-radius: 2px;
      position: relative;
      z-index: 1;
      .rhap_time.rhap_current-time {
        min-width: 58px;
      }
      * {
        color: #fff;
        margin-top: 0;
      }
    }
    .rhap_main-controls {
      button {
        font-family: math !important;
        font-size: 30px;
        svg {
          font-size: 40px;
        }
        &:nth-child(2) {
          position: relative;
          top: 10px !important;
          display: block !important;
        }
        &.rhap_button-clear {
          &.rhap_main-controls-button {
            position: relative;
            top: 8px;
            display: none;
          }
        }
      }
    }
    .rhap_volume-container {
      & > div {
        position: relative;
        top: 7px;
      }
    }
    .rhap_progress-indicator {
      background: #a9d400 !important;
      width: 10px;
    }
    .rhap_volume-indicator {
      background: #a9d400;
      width: 8px;
    }
  } //album-detail__audio--END--
} //album-detail__audio--END--

.album-detail__rank-table .advanced-overlay {
  overflow: auto;
}
.album-detail__rank-table {
  &.not-logged-in {
    .advanced-overlay {
      opacity: 0.4;
      cursor: not-allowed;
      display: none;
    }
  }
  .advanced-overlay {
    gap: 8px !important;
    .userImg {
      padding-top: 16px;
    }
  }
  .infoStyle {
    margin-top: 12px !important;
    p {
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  .userLink {
    .imgdefault {
      top: 0 !important;
      width: 16px !important;
      height: 16px !important;
    }
  }
  .replysection {
    .advanced-overlay {
      gap: 24px !important;
      .userImg {
        padding-top: 24px;
      }
    }
  }
  .replyBtn {
    //댓글 scss
    margin: 8px 5px 0 0 !important;
    width: 84px !important;
    .replyIcon {
      margin-right: 8px !important;
    }
  } //replyBtn--END--
  .public-DraftStyleDefault-ltr {
    font-size: 14px;
  }
  .no-comDiv {
    margin-top: 32px;
    margin-bottom: 40px;
    color: #555;
    text-align: center;
    font-size: 14px;
  } //no-comDiv--END--
  border-radius: 12px;
  border: 1px solid #222;
  padding: 16px;
  margin-top: 16px;
  .album-detail__rank-table__title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: baseline;
    padding: 20px;
    dt {
      color: #cf0;
      font-family: Pretendard400;
      font-size: 24px;
      margin-bottom: 16px;
      position: relative;
      display: inline-block;
      font  {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
      &::after {
        content: '';
        position: absolute;
        top: -2px;
        left: -4px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: #cf0;
      }
    }
    dd {
      color: #cf0;
      font-family: Pretendard400;
      font-size: 14px;
      font-style: normal;
      line-height: normal;
      margin-bottom: 16px;
      position: relative;
      display: inline-block;
      align-items: center;
      justify-content: center;
      height: 30px;
      padding: 4px 8px 8px;
      border-radius: 10px 2px 10px 10px;
      border: 1px solid #a9d400;
      font  {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
      &::after {
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: #cf0;
      }
    }
  } //album-detail__rank-table__title--END--
  .album-detail__filter-btn {
    color: #cf0;
    font-family: Pretendard400;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    margin: 16px 0;
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 4px 8px 8px;
    border-radius: 10px 2px 10px 10px;
    border: 1px solid #a9d400;
      font  {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
    &::after {
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #cf0;
    }
  } //album-detail__filter-btn--END--
  .table-container {
    width: 100%;
    // display: flex;
    // justify-content: center;
    border-radius: 12px;
    overflow: auto;
    border: 1px solid #222;
    tr {
      transition: 0.3s;
      &:hover {
        background: #333;
      }
    }
    .custom-table {
      width: 100%;
      border-collapse: collapse;
      background: #111;
      color: #ddd;
      font-size: 16px;
      min-width: 690px;
      // table-layout: fixed;
      thead {
        background: linear-gradient(0deg, rgba(199, 240, 100, 0.2) 0%, rgba(114, 138, 58, 0) 20%);
        tr {
          th {
            text-align: center;
            color: #a9d400;
            text-align: center;
            font-family: Pretendard400;
            font-size: 14px;
            white-space: nowrap;
            font  {
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
          }
        }
      }
      td {
        &.title {
          // width: 100px;
        }
        &.user-info {
          p {
            padding: 0 16px 0 0;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 8px;
            color: #aaa;
            text-align: center;
            font-family: Pretendard400;
            font-size: 14px;
            font  {
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
            img {
              flex-shrink: 0;
              width: 16px;
              height: 16px;
              overflow: hidden;
              border-radius: 100%;
            }
          }
        }
        color: #aaa;
        text-align: center;
        font-family: Pretendard400;
        font-size: 14px;
        font-style: normal;
        line-height: normal;
        min-height: 60px;
            font  {
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
        &.title {
          text-align: left;
        }
        &:nth-child(1) {
          width: 40px;
        }
        &:nth-child(3) {
          max-width: 400px;
          width: 400px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          p {
            text-indent: 0px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #aaa;
            text-align: center;
            font-family: Pretendard400;
            font-size: 14px;
            font-style: normal;
            line-height: normal;
            max-width: 10ch;
          }
        }
        &:last-child {
          width: 126px;
          max-width: 126px;
        }
      }
    }

    .custom-table th {
      color: #aaff00;
      text-align: left;
      padding: 10px;
      border-bottom: 2px solid #333;
    }

    .custom-table td {
      padding: 12px;
      border-bottom: 1px solid #333;
    }

    .heart {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../assets/images/album/love-icon.svg') no-repeat center;
      background-size: contain;
    }

    .heart.liked {
      background: url('../assets/images/album/love-icon-on.svg') no-repeat center;
      background-size: contain;
    }

    .details-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      width: 100px;
      height: 24px;
      background: #00ffb3;
      position: relative;
      top: 0;
      transition: 0.2s;
      color: #1a1a1a;
      font-family: Pretendard600;
      font-size: 12px;
      font-style: normal;
      line-height: normal;
      border-radius: 8px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: calc(100% - 2px);
        transition: 0.2s;
        border-radius: 8px;
        height: 22px;
        border: 1px solid #00ffb3;
      }
      &:hover {
        top: 4px;
        &::before {
          top: 0;
        }
      }
    }

    .details-btn.active {
      background: #00ff99;
      color: #000;
      transition: 0.3s;
      &:hover {
      }
    }

    .details-btn.disabled {
      background: #333;
      color: #555;
      cursor: not-allowed;
    }
  } //table-container--END--
} //album-detail__rank-table--END--

.album-detail__slide {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #222;
  padding: 16px;
  margin-top: 16px;
  .album-detail__slide__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    dt {
      color: #cf0;
      font-family: Pretendard400;
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      position: relative;
      display: inline-block;
      width: max-content;
      &::after {
        content: '';
        position: absolute;
        top: -2px;
        left: -4px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: #cf0;
      }
      font{
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
    }
    dd {
      color: #fff;
      font-family: Pretendard400;
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      font{
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
    }
  } //album-detail__slide__title--END--

  .song-detail-slide {
    padding: 16px 0 40px;
    .album__content-list__list__item {
      width: 302px !important;
      margin: 0 auto;
      .swiper-slide {
      }
    }
    .swiper-button-prev {
      width: 24px;
      height: 24px;
      background: url('../assets/images/album/prev-btn.svg') center no-repeat;
      background-size: cover;
      left: 38%;
      top: auto;
      bottom: 4px;
      z-index: 3;
      &::after {
        display: none !important;
      }
    }
    .swiper-button-next {
      width: 24px;
      height: 24px;
      background: url('../assets/images/album/next-btn.svg') center no-repeat;
      background-size: cover;
      right: 38%;
      top: auto;
      bottom: 4px;
      z-index: 3;
      &::after {
        display: none !important;
      }
    }
    .swiper-pagination {
      z-index: 1;
    }
    .swiper-pagination-bullet {
      width: 4px !important;
      height: 8px !important;
      border-radius: 0 !important;
      background: #cf0 !important;
      transition: 0.3s;
      &.swiper-pagination-bullet-active {
        height: 16px !important;
        position: relative;
        top: 4px;
      } //swiper-pagination-bullet-active--END--
    } //swiper-pagination-bullet--END--

    .album__content-list__list__item {
      display: flex;
      gap: 8px;
      flex: 1;
      width: 100%;
      &.active {
        .time {
          background: #cf0 !important;
          color: #222 !important;
          gap: 8px;
          width: 128px;
          &::after {
            content: '';
            display: block;
            width: 76px;
            height: 16px;
            background: url('../assets/images/album/time-img-w.svg') center no-repeat;
            background-size: contain;
          }
        }
      }
      .album__content-list__list__item__left {
        border-radius: 16px;
        background: #222;
        width: 160px;
        height: 160px;
        padding: 10px;
        position: relative;
        flex-shrink: 0;
        .album__content-list__list__item__left__img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        } //album__content-list__list__item__left__img--END--
        .time {
          position: absolute;
          bottom: 16px;
          left: 16px;
          padding: 0 4px;
          height: 22px;
          min-width: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #222;
          box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          text-align: center;
          font-family: Pretendard400;
          font-size: 12px;
          font{
            font-family: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
        }
      } //album__content-list__list__item__left--END--

      .album__content-list__list__item__right {
        display: flex;
        flex-direction: column;
        gap: 8px;
        // padding: 8px 0;
        flex: 1;
        .album__content-list__list__item__right__title {
          color: #f1f1f1;
          font-family: Pretendard400;
          font-size: 14px;
          font-style: normal;
          text-align: left;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
          min-height: 38px;
          font{
            font-family: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
        } //album__content-list__list__item__right__title--END--
        .album__content-list__list__item__right__love-play {
          display: flex;
          align-items: start;
          gap: 8px;
          flex-direction: column;
          img {
            width: 14px;
            height: 14px;
          }
          p {
            display: flex;
            align-items: center;
            gap: 4px;
            color: #aaa;
            font-family: Pretendard400;
            font-size: 12px;
            font-style: normal;
            font{
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
            &:nth-child(2) {
              img {
                width: 16px;
                height: 16px;
              }
            }
          }
        } //album__content-list__list__item__right__love-play--END--
        .album__content-list__list__item__right__user {
          display: flex;
          align-items: start;
          justify-content: space-between;
          flex-direction: column;
          gap: 18px;
          .album__content-list__list__item__right__user__info {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            color:#f1f1f1;
            font-family: Pretendard400;
            font-size: 12px;
            font-style: normal;
            font{
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              font-style: inherit !important;
              color: inherit !important;
              letter-spacing: inherit !important;
            }
            img {
              width: 24px;
              height: 24px;
              object-fit: cover;
              border-radius: 100%;
              overflow: hidden;
            }
          } //album__content-list__list__item__right__user__info--END--
          .album__content-list__list__item__right__user__btn {
            width: 100%;
            height: 24px;
            background: #cf0;
            position: relative;
            top: 0;
            transition: 0.2s;
            color: #1a1a1a;
            font-family: Pretendard600;
            font-size: 12px;
            font-style: normal;
            line-height: normal;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 4px;
              width: calc(100% - 2px);
              transition: 0.2s;
              border-radius: 8px;
              height: 23px;
              border: 1px solid #cf0;
            }
            &:hover {
              top: 4px;
              &::before {
                top: 0;
              }
            }
            // width: 24px;
            // height: 24px;
            // font-size: 0;
            // background: url('../assets/images/album/more-icon.svg') center no-repeat;
            // background-size: contain;
          } //album__content-list__list__item__right__user__btn--END--
        } //album__content-list__list__item__right__user--END--
      } //album__content-list__list__item__right--END-
    } //album__content-list__list__item--END--
  } //song-detail-slide--END--
} //album-detail__slide--END--

//song-detail--END--

.rhap_progress-bar {
  .rhap_download-progress {
    &:last-child {
      display: none;
    }
  }
}
.rhap_download-progress {
  width: 100% !important;
  background: #333;
  max-width: 214px;
  .rhap_download-progress {
  }
} //rhap_download-progress--END--
.rhap_progress-filled {
  background: #a9d400;
} //.rhap_progress-filled--END--

@media screen and (max-width: 1600px) {
  .album {
    .main__header {
      &.scrolled {
        top: 86px;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .song-detail {
    .album-detail__song-detail {
      .album-detail__song-detail__bot {
        .album-detail__song-detail__left {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .song-detail {
    .album-detail__title {
      dt {
        font-size: 24px;
      }
    }
    .album-detail__song-detail {
      .album-detail__song-detail__bot {
        .album-detail__song-detail__bot__content {
          flex-direction: column;
        }
      }

      .album-detail__song-detail__bot {
        flex-direction: column;
        .album-detail__song-detail__left {
          width: 100%;
          .album-detail__song-detail__left__img {
            height: 320px;
            img {
              object-fit: contain;
            }
            .album-detail__song-detail__left__img__txt {
              height: 0;
            }
            &.active {
              .album-detail__song-detail__left__img__txt {
                height: 100%;
              }
            }
          }
        }
        .album-detail__song-detail__right {
          .album-detail__song-detail__right__info-box {
            dl {
              // &:nth-child(5) {
              //   dt {
              //     min-height: 48px;
              //   }
              // }
              // &:last-child {
              //   dt {
              //     min-height: 60px;
              //   }
              //   dd {
              //     flex-direction: column;
              //     gap: 4px;
              //   }
              // }
              min-height: auto;
              dt {
                font-size: 10px;
                min-width: 124px;
                min-height: 30px;
              }
              dd {
                font-size: 10px;
                padding: 0;
                padding-left: 24px;
                padding-right: 8px;
                span {
                  font-size: 10px;
                }
              }
            }
            .album-detail__song-detail__right__info-box__detail {
              &::after {
                left: 124px;
              }
              span {
                font-size: 10px;
                min-width: 124px;
                min-height: 34px;
              }
              strong {
                font-size: 10px;
                // padding: 11px 16px 11px 24px;
                padding-left: 24px;
                padding-right: 8px;
                
              }
            } //album-detail__song-detail__right__info-box__detail--END--
          }
        }
      }
    }
    .album-detail__slide {
      .song-detail-slide {
        .swiper-button-prev,
        .swiper-button-next {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .song-detail {
    .album-detail__song-detail {
      .album-detail__song-detail__bot {
        .album-detail__song-detail__left {
          .album-detail__song-detail__left__img {
            img {
              object-fit: cover;
            }
          }
          .album-detail__song-detail__left__title {
            font-size: 16px;
          }
        }
        .album-detail__song-detail__right{
          .album-detail__song-detail__right__info-box{
            .album-detail__song-detail__right__info-box__detail{
              strong{
                max-height: none;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  
}

@media screen and (max-width: 480px) {
  .song-detail {
    .album-detail__song-detail {
      .album-detail__song-detail__bot {
        .album-detail__song-detail__left {
          .album-detail__song-detail__left__title {
            font-size: 14px;
          }
        }
      }
    }
    .album-detail__slide {
      .album-detail__slide__title {
        dt {
          width: auto;
        }
      }
    }
    .album-detail__song-detail__left__info {
      // flex-direction: column;
      // gap: 10px;
      // width: 100%;
      // align-items: start !important;
      // justify-content: start !important;
    }
  }
}
