.music_create {
    * {
        box-sizing: border-box;
    }
    padding: 30px;
    .title {
        color: #cf0;
        font-family: Orbitron400;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.72px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 5px;
            height: 5px;
            top: 0;
            background-color: #cf0;
            border-radius: 100%;
        }
        margin-bottom: 76px;
    }

    .progress {
        display: flex;
        align-items: center;
        .progress__item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
        }
        .progress__square {
            width: 12px;
            height: 12px;
            border-radius: 2px;
            background-color: #565656;
            &.enable {
                background-color: #cf0;
            }
        }
        .progress__text {
            font: inherit;
            color: #565656;
            font-family: Orbitron700;
            font-size: 14px;
            text-align: center;
            &.enable {
                color: #cf0;
            }
        }

        .progress__arrow {
            flex: 1;
            background-color: #565656;
            height: 1px;
            margin: 0px 36px;
            position: relative;
            &::before,
            &::after {
                position: absolute;
                content: '';
                width: 5px;
                height: 5px;
                top: 50%;
                transform: translateY(-50%);
            }
            &::before {
                background-color: #565656;
                border-radius: 100%;
                left: 0;
            }
            &::after {
                clip-path: polygon(100% 50%, 0 0, 0 100%);
                background-color: #565656;
                right: -1px;
            }

            &.enable {
                background-color: #cf0;
                &::before,
                &::after {
                    background-color: #cf0;
                }
            }
        }
    }

    .selected-wrap {
        padding: 12px;
        border-radius: 18px;
        border: 1px solid #222;
        .wrap-title {
            color: var(--primary-base, #cf0);
            font-family: Orbitron400;
            font-size: 18px;
            letter-spacing: 0.54px;
            margin-bottom: 12px;
        }
        .wrap-content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            // display: flex;
            // justify-content: space-between;
            align-items: center;
        }
    }

    .selected-item {
        .item-title {
            color: var(--Text-music-title, #f1f1f1);
            font-family: Orbitron600;
            font-size: 18px;
            letter-spacing: 0.54px;
            margin-bottom: 8px;
        }
        .item-value {
            display: flex;
            gap: 8px;
            span {
                color: #1a1a1a;
                font-family: Inter400;
                font-size: 14px;
                border-radius: 12px 4px 12px 12px;
                background: var(--secondary-100, #00ffb3);
                padding: 4px 12px;
            }
            p {
                color: var(--Text-music-sub, #aaa);
                font-family: Inter500;
                font-size: 14px;
                letter-spacing: 0.42px;
            }
        }
    }

    .button-wrap {
        display: flex;
        justify-content: flex-end;
        gap: 24px;
        button {
            color: var(--Text-music-title, #f1f1f1);
            font-family: Orbitron600;
            font-size: 16px;
            letter-spacing: 0.48px;
            border-radius: 12px;
            min-width: 140px;
            height: 40px;
            text-transform: capitalize;

            &.next {
                background: var(--primary-base, #cf0);
                color: #1a1a1a;
            }
            &.skip {
                background: var(--tertiary-400, #6458ff);
            }
        }
    }

    .mb16 {
        margin-bottom: 16px;
    }
    .mb40 {
        margin-bottom: 40px;
    }
}
