.evaluation-stage {
  .evaluation-stage__critics {
    display: flex;
    gap: 16px;
    overflow: auto;
  }
  .evaluation-stage__critics-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    cursor: pointer;

    &.active {
      .evaluation-stage__critics-item--image {
        border: 2px solid #cf0;
        box-shadow: 0px 0px 3px 0px #cf0;
      }
    }
  }
  .evaluation-stage__critics-item--image {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    object-fit: cover;
    transition: 0.3s;
    border: 2px solid transparent;
    box-sizing: border-box;
  }
  .evaluation-stage__critics-item--name {
    color: #aaa;
    font-family: Pretendard500;
    font-size: 12px;
    text-align: center;
  }

  .evaluation-stage__slide {
    padding: 16px 0 10px;
  }
  //

  .album__content-list__list {
    gap: 16px;
    .swiper-wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 48px;
    }
    .swiper-slide {
      width: 302px !important;
    }
    .swiper-button-prev {
      position: absolute;
      right: 40px !important;
      bottom: 0 !important;
      left: auto !important;
      top: auto !important;
      width: 30px;
      height: 30px;
      background: url('../assets/images/album/prev-btn.svg') center no-repeat;
      background-size: cover;
      &::after {
        display: none;
      }
    }
    .swiper-button-next {
      position: absolute;
      right: 0 !important;
      bottom: 0 !important;
      left: auto !important;
      top: auto !important;
      width: 30px;
      height: 30px;
      background: url('../assets/images/album/next-btn.svg') center no-repeat;
      background-size: cover;
      &::after {
        display: none;
      }
    }
  } //album__content-list__list--END--

  .evaluation-stage__slide_item {
    width: 302px !important;
    margin: 0 auto;
  }
}
