.select-btn {
  position: relative;
  z-index: 1;
  margin-left: auto;
  width: 180px;
  height: 40px;
  background: #cf0;
  position: relative;
  top: 0;
  transition: 0.2s;
  color: #1a1a1a;
  font-family: Orbitron600;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: calc(100% - 2px);
    transition: 0.2s;
    border-radius: 8px;
    height: 39px;
    border: 1px solid #cf0;
  }
  &:hover {
    top: 4px;
    &::before {
      top: 0;
    }
  }
}

.view-results {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 180px;
  height: 40px;
  background: #cf0;
  position: relative;
  top: 0;
  transition: 0.2s;
  color: #1a1a1a;
  font-family: Orbitron600;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    &::before {
      width: 100%;
      border: none;
      border-bottom: 1px solid;
      border-color: #2c3a00;
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: calc(100% - 2px);
    transition: 0.2s;
    border-radius: 8px;
    height: 39px;
    border: 1px solid #cf0;
  }
  &:hover {
    top: 4px;
    &::before {
      top: 0;
    }
  }
} //begin-now-btn--END--

.step1 {
  .step1__title {
    color: #fff;
    font-family: Orbitron700;
    font-size: 16px;
    margin-bottom: 16px;
  } //step1__title--END--
  .step1__list {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 16px;
    padding: 16px 16px 0 16px;
    border-radius: 12px;
    border: 1px solid var(--Color-03, #222);
    margin-bottom: 16px;
    height: 220px;
    overflow: auto;

    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0px 8px 8px 0px;
    }
    .step1__list--loading-box {
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } //step1__list--END--
} //step1--END--

.step2 {
  .step2__title {
    color: #fff;
    font-family: Orbitron700;
    font-size: 16px;
    margin-bottom: 16px;
  } //step2__title--END--
  .step2__choose {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    .step2__choose__item {
      width: 300px;
      padding: 16px;
      border: 1px solid #222;
      border-radius: 12px;
      min-height: 348px;
      transition: 0.3s;
      img {
        width: 100%;
      }
      &.active {
        border: 1px solid #cf0;
      }
      .step2__choose__item__title {
        dt {
          color: #f1f1f1;
          font-family: Orbitron600;
          font-size: 16px;
          margin: 8px;
          span {
            color: #cf0;
            text-align: center;
            font-family: Orbitron600;
            font-size: 16px;
          }
        }
        dd {
          color: var(--Text-music-sub, #aaa);
          font-family: Inter500;
          font-size: 14px;
        }
      } //step2__choose__item__title--END--
    } //step2__choose__item--END--
  } //step2__choose--END--
} //step2--END--

.step3 {
  .step3__title {
    color: #fff;
    font-family: Orbitron700;
    font-size: 16px;
    margin-bottom: 16px;
  } //step1__title--END--
  .step3__selected-song {
    border: 1px solid #222;
    border-radius: 12px;
    padding: 16px;
    .step3__selected-song__title {
      color: #f1f1f1;
      font-family: Inter500;
      font-size: 14px;
      margin-bottom: 16px;
    } //step3__selected-song__title--END--
    .step3__selected-song__critic {
      width: 100%;
      dt {
        color: #f1f1f1;
        font-family: Inter500;
        font-size: 14px;
        margin-bottom: 16px;
      }
      dd {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          border-radius: 4px;
          background: var(--Color-02, #1a1a1a);
          padding: 0 12px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #f1f1f1;
          font-family: Inter500;
          font-size: 14px;
        }
        span {
          color: var(--Text-music-sub, #aaa);
          font-family: Inter400;
          font-size: 14px;
          strong {
            color: var(--Text-music-title, #f1f1f1);
            font-family: Inter500;
            font-size: 14px;
          }
        }
      }
    } //step3__selected-song__critic--END--
  } //step3__selected-song--END--
} //step3--END--

@media screen and (max-width: 768px) {
  .step2 {
    .step2__choose {
      flex-direction: column;
    }
  }
}
