

.select-btn{
  position: relative;
  z-index: 1;
  margin-left: auto;
  width: 180px;
  height: 40px;
  background: #cf0;
  position: relative;
  top: 0;
  transition: 0.2s;
  color:#1a1a1a;
  font-family: Orbitron600;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: calc(100% - 2px);
    transition: 0.2s;
    border-radius: 8px;
    height: 39px;
    border: 1px solid #cf0;
  }
  &:hover {
    top: 4px;
    &::before {
      top: 0;
    }
  }
}


.result{
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
  .result__critic{

  }//result__critic--END--
  .result__graph{
    .result__graph__score{
      display: flex;
      align-items: center;
      gap: 16px;
      
    }//result__graph__score--END--
    .result__graph__score__graph{
      width: 400px;
      height: 300px;
    }//result__graph__score__graph--END--
  }//result__graph--END--
}//result--END--




@media screen and (max-width: 768px) {
  .step2{
    .step2__choose{
      flex-direction: column;
    }
  }
}
