.get-detail {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .get-detail__banner {
    height: 230px;
    width: 100%;
    border-radius: 12px;
    background: linear-gradient(90deg, #00d293 0%, #006c4c 100%);
    display: flex;
    align-items: center;
    background-image: url('../assets/images/get/get-detail-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .get-detail__banner--text-box {
    width: 100%;
    max-width: 1334px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 14px;
    padding: 0px 16px;
    .title {
      color: #fff;
      font-size: 28px;
      font-family: Pretendard700;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    }
    .desc {
      color: #fff;
      font-family: Pretendard400;
      font-size: 16px;
      line-height: 24px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    }
  }

  .get-detail__progress-wallet {
    display: flex;
    gap: 18px;
  }

  .get-detail__tabs {
    width: 100%;
    overflow: auto;
  }

  .get-detail__tabs-box {
    padding: 6px;
    display: flex;
    gap: 12px;
    border-radius: 12px;
    border: 1px solid #222;
    width: fit-content;
  }

  .get-detail__tabs-box--item {
    padding: 8px 12px;
    font-family: Orbitron500;
    font-size: 14px;
    letter-spacing: 0.42px;
    color: #aaa;
    text-transform: capitalize;
    border-radius: 12px;
    transition: 0.2s all;

    display: flex;
    align-items: center;
    gap: 8px;

    &.select,
    &:hover {
      color: #1a1a1a;
      background-color: #00ffb3;
    }

    .item-alarm {
      padding: 2px 8px;
      border-radius: 12px;
      background-color: #00a774;
      color: #f1f1f1;
      font-size: 12px;
      font-family: Inter300;
      letter-spacing: 0.36px;
    }
  }

  .get-detail__status {
    display: flex;
    gap: 14px;
  }

  .get-detail__status-button {
    padding: 8px 12px;
    border-radius: 12px;
    font-family: Inter500;
    font-size: 12px;
    letter-spacing: 0.36px;
    display: flex;
    align-items: center;

    &.round {
      color: #aaa;
      border: 1px solid #00ffb3;
      background-color: #222;
    }
    &.progress {
      color: #f1f1f1;
      background-color: #00a774;
      text-transform: uppercase;
    }
    &.ended {
      color: #565656;
      background-color: #1a1a1a;
      text-transform: uppercase;
    }
  }

  .get-detail__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
  }
}

//=========

.get-race-content-box {
  padding: 20px 12px;
  border-radius: 12px;
  background-color: #222;
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 128px;

  .get-race-content-box__text {
    text-align: center;
    &.white {
      color: #fff;
    }
    &.green {
      color: #00d293;
    }
    &.gray {
      color: #d9d9d9;
    }
    &.yellow {
      color: #ffd700;
    }

    &.fs12 {
      font-size: 12px;
    }
    &.fs14 {
      font-size: 14px;
    }
    &.fs18 {
      font-size: 18px;
    }

    &.fw400 {
      font-family: Inter400;
    }
    &.fw500 {
      font-family: Inter500;
    }
    &.fw700 {
      font-family: Inter700;
    }

    &.mb8 {
      margin-bottom: 8px;
    }
    &.m-8 {
      margin: -8px 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .get-detail {
    .get-detail__info {
      gap: 16px;
    }
    .get-detail-leaderboard {
      gap: 16px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .get-detail {
    .get-detail__info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  .get-detail-dashboard {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .get-detail-leaderboard {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px !important;
    .get-detail-leaderboard__user {
      width: 100%;
      flex: 1;
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .get-detail {
    .get-detail__info {
      grid-template-columns: repeat(1, 1fr);
    }
    .get-race-content-box {
      min-height: auto;
    }
  }
}
