.main {
  background: #f5f5f5;
  width: 100%;
  .main__container {
    width: 100%;
    padding: 40px;
    display: flex;
    padding-bottom: 100px;
    .main__left {
      width: 100%;
      .main__warning {
        margin-right: 40px;
        border-radius: 24px;
        height: 350px;
        .warning__title {
          color: #fff;
          font-size: 26px;
          font-family: "spoqaHanSansNeo500";
          padding: 0 16px;
          height: 56px;
          background-color: #494342;
          display: flex;
          align-items: center;
        }
        .warning__container {
          height: 266px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 20px 30px;
          align-items: center;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
          background-color: #fff;
          .warning__textbox {
            .textbox__current-count-red {
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              margin-bottom: 43.65px;
              border-bottom: 1px solid #ff4f4f;
              .textbox__text {
                font-family: "spoqaHanSansNeo500";
                font-size: 24.74px;
                vertical-align: middle;
                color: #ff4f4f;
              }
              .textbox__count {
                font-family: "spoqaHanSansNeo500";
                font-size: 20px;
                font-size: 44.725px;
                color: #ff4f4f;
              }
            }

            .textbox__current-count {
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              margin-bottom: 43.65px;
              border-bottom: 1px solid #15c827;
              p {
                font-family: "spoqaHanSansNeo500";
                color: #15c827;
                font-size: 24.74px;
                vertical-align: middle;
              }
              span {
                font-family: "spoqaHanSansNeo500";
                color: #15c827;
                font-size: 44.725px;
              }
            }
            .textbox__info {
              .textbox__status,
              .textbox__info-live {
                color: #2f2f2f;
                font-size: 25.171px;
                line-height: 150%;
              }
            }
          }
          .warning__passbox {
            max-width: 251px;
            min-width: 150px;
            img {
              width: 100%;
            }
          }
        }
      }
      .main__statistical-analysis {
        margin-right: 40px;
        position: relative;
        height: 500px;
        .statistical__top-text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 16px;
          height: 56px;
          background-color: #494342;
          .top__analysis {
            color: #e8e8e8;
            font-size: 26px;
            font-family: "spoqaHanSansNeo500";
          }
          .top__more {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 16px;
            color: #fff;
            background-color: #e60012;
            font-family: "spoqaHanSansNeo500";
            font-size: 20px;
            cursor: pointer;
            transition: 0.2s;
            position: relative;
            overflow: hidden;
            // &::before{
            //   content: "";
            //   width: 00%;
            //   height:4px;
            //   background: #fff;
            //   position: absolute;
            //   bottom:0px;
            //   left: 0;
            //   transition: 0.2s;
            // }
            span{
              &.more_plus{
                font-size: 20px;
                color:#fff;
                font-family: "spoqaHanSansNeo500";
                margin-left: 5px;
                margin-right: -5px;
                transition: 0.2s;
              }
            }
            &:hover{
              &::before{
                width: 100%;
              }
              .more_plus{
                transform: rotate(180deg) translateY(1px);
              }
            }
          }
        }
        .statistical__content-box {
          width: 100%;
          padding: 20px 30px;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
          height: 100%;
          background-color: #fff;
          .statistical__filter-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            .filter-wrapper__site-dropdown {
              display: flex;
              margin-right: 29px;
              .filter__site-name {
                font-size: 15px;
                display: flex;
                height: 45px;
                width: 100px;
                padding: 8px;
                justify-content: center;
                align-items: center;
                border: 1px solid #c2c2c2;
                border-right: 0;
              }
              .filter__site-name--cliked {
                width: 180px;
                height: 45px;
                padding: 8px 8px 8px 16px;
                border: 1px solid #c2c2c2;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                p {
                  font-size: 15px;
                }
              }
            }
            .filter__setting {
              display: flex;
              .filter-wrapper__date-range {
                display: flex;
                height: 45px;
                padding: 8px 15px;
                align-items: center;
                gap: 8px;
                border: 1px solid #c2c2c2;
                input {
                  font-size: 15px;
                  background-color: transparent;
                  width: 100%;
                }
                input[type="date"] {
                  &::-webkit-calendar-picker-indicator {
                    cursor: pointer;
                    filter: invert(71%) sepia(0%) saturate(1418%)
                      hue-rotate(201deg) brightness(104%) contrast(69%);
                  }
                }
              }
              .filter-wrapper__tilde {
                font-size: 15px;
                margin: 10px 4px;
              }
              .filter-wrapper__search-button {
                background-color: #fff;
                font-size: 15px;
                white-space: nowrap;
                margin-left: 18px;
                width: 83px;
                height: 45px;
                text-align: center;
                color: #e60012;
                border: 1px solid #e60012;
                font-family: "spoqaHanSansNeo500";
                position: relative;
                overflow: hidden;
                transition: 0.3s;
                &::before{
                  content: "";
                  position: absolute;
                  top:0;
                  left: 0;
                  width: 0%;
                  height: 100%;
                  background: #e60012;
                  z-index: 0;
                  transition: 0.3s;
                }
                span{
                  font-size: 15px;
                  color: #e60012;
                  position: relative;
                  z-index: 1;
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  line-height: 45px;
                }
                &:hover{
                  &::before{
                    width: 100%;
                  }
                  span{
                    color: #fff;
                    font-weight: bold;
                  }
                }
              }
            }
          }
          .site__list {
            position: absolute;
            z-index: 1;
            display: flex;
            white-space: nowrap;
            flex-wrap: wrap;
            background-color: #fff;
            padding-bottom: 30px;
            top: 131px;
            height: auto;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            .site__list-item {
              display: flex;
              margin: 14px;
              align-items: center;
              input {
                cursor: pointer;
                margin-right: 4px;
              }
              label {
                cursor: pointer;
              }
            }

            .site__all-check,
            .site__check-reset {
              cursor: pointer;
              color: #aaa;
              font-size: 14px;
              font-family: "pretendard500";
              position: absolute;
            }
            .site__all-check {
              bottom: 10px;
              right: 120px;
            }
            .site__check-reset {
              display: flex;
              bottom: 10px;
              right: 20px;
            }
          }
          .statistical__container {
            width: 100%;
            height: auto; // 수치 변경해야함
            border-radius: 8px;
            // display: flex;
            flex-direction: column;
            justify-content: space-between;


            .statistical__list{
              display: flex;
              justify-content: space-between; 
              align-items: center; 
              width: 100%;
              height: 56px;
              margin-bottom: 38px;
              &.fire{
                .statistical__list__progressBar-style{
                  background:#A9DFD8 !important;
                }
                .statistical__list__number{
                  background-color:#F5FBFA;
                  border:1px solid #7acfc4;
                  span{
                    color:#7acfc4
                  }
                }
              }
              &.hardHat{
                .statistical__list__progressBar-style{
                  background:#28AEF3 !important;
                }
                .statistical__list__number{
                  background-color:#E5F5FE;
                  border:1px solid #28AEF3;
                  span{
                    color:#28AEF3
                  }
                }
              }
              &.danger{
                .statistical__list__progressBar-style{
                  background:#F2C8ED !important;
                }
                .statistical__list__number{
                  background-color:#ffebfdc7;
                  border:1px solid #e08dd7;
                  span{
                    color:#e08dd7
                  }
                }
              }
              .statistical__list__name{
                width: 120px;
              }
              .statistical__list__progress{
                position: relative;
                width:75%;
                margin-right:22px;
                height: 56px;
                overflow: hidden;
                background-color:#F3F3F3 ;
                .statistical__list__progressBar{
                  width: 100%;
                  .statistical__list__progressBar-style{
                    height:56px;
                    background:#fcb859;
                    animation: fillProgressBar 1s ease-in-out; 
                  }
                }
              }
              .statistical__list__number{
                background-color:#FFF6EB;
                border:1px solid #fcbb59;
  
                border-radius: 5px;
                width: 100px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                  color: #FCB859;
                  font-weight: bold;
                }
              }
            }
            @keyframes fillProgressBar {
              0% {
                width: 0%; 
              }
              100% {
                width: 100%; 
              }
            }

            // .statistical__container-list {
            //   margin-bottom: 37.5px;
            //   width: 100%;
            //   display: flex;
            //   justify-content: space-between;
            //   height: 60px;
            //   .statistical__container-type {
            //     display: flex;
            //     align-items: center;
            //     font-family: "pretendard500";
            //     width: 100px;
            //     margin-right: 10px;
            //   }
            //   .statistical__container-gage-total {
            //     width: 100%;
            //     margin-right: 20px;
            //     position: relative;
            //     background-color: rgba(43, 43, 54, 0.5); //f3f3f3 은 보이지 않음
            //     .statistical__container-gage-current {
            //       position: absolute;
            //       height: 100%;
            //       top: 0;
            //     }
            //     .gage60 {
            //       width: 60%;
            //       background-color: #fcb859;
            //     }
            //     .gage17 {
            //       width: 17%;
            //       background-color: #a9dfd8;
            //     }
            //     .gage19 {
            //       width: 19%;
            //       background-color: #28aef3;
            //     }
            //     .gage29 {
            //       width: 29%;
            //       background-color: #f2c8ed;
            //     }
            //   }
            //   .statistical__container-count {
            //     display: flex;
            //     border-radius: 8.519px;
            //     border: 1.065px solid #fcb859;
            //     background: rgba(252, 184, 89, 0.12);
            //     color: #fcb859;
            //     font-family: Inter;
            //     font-size: 16px;
            //     font-weight: 500;
            //     justify-content: center;
            //     align-items: center;
            //     width: 80px;
            //   }
            // }
          }
        }
      }
    }

    .main__right {
      width: 100%;
      .main__notice {
        width: 100%;
        height: 350px;
        .notice__top-text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 16px;
          height: 56px;
          background-color: #494342;
          .top__announcements {
            color: #e8e8e8;
            font-size: 26px;
            font-family: "spoqaHanSansNeo500";
          }
          .top__more {
            color: #fff;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 16px;
            background-color: #e60012;
            font-family: "spoqaHanSansNeo500";
            font-size: 20px;
            cursor: pointer;
            transition: 0.2s;
            position: relative;
            overflow: hidden;
            // &::before{
            //   content: "";
            //   width: 0%;
            //   height: 4px;
            //   background: #fff;
            //   position: absolute;
            //   bottom:0px;
            //   left: 0;
            //   transition: 0.2s;
            // }
            span{
              &.more_plus{
                font-size: 20px;
                color:#fff;
                font-family: "spoqaHanSansNeo500";
                margin-left: 5px;
                margin-right: -5px;
                transition: 0.2s;
              }
            }
            &:hover{
            &::before{
              width: 100%;
            }
              .more_plus{
                transform: rotate(180deg) translateY(1px);
              }
            }
          }
        }
        .notice__container {
          height: 266px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 20px 30px;
          align-items: center;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
          background-color: #fff;
          .container__list {
            width: 100%;
            .list__item {
              width: 100%;
              display: flex;
              justify-content: space-between;
              .item__title {
                font-size: 20px;
              }
              .item__day {
                color: #a7a7a7;
              }
              &:not(:first-child) {
                margin-top: 8px;
              }
            }
          }
        }
      }
      .main__action-completed {
        height: 500px;
        .action-completed__top-text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 16px;
          height: 56px;
          background-color: #494342;
          .top__analysis {
            color: #e8e8e8;
            font-size: 26px;
            font-family: "spoqaHanSansNeo500";
          }
          .top__more {
            color: #fff;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 16px;
            background-color: #e60012;
            font-family: "spoqaHanSansNeo500";
            font-size: 20px;
            cursor: pointer;
            transition: 0.2s;
            position: relative;
            overflow: hidden;
            // &::before{
            //   content: "";
            //   width: 0%;
            //   height: 4px;
            //   background: #fff;
            //   position: absolute;
            //   bottom:0px;
            //   left: 0;
            //   transition: 0.2s;
            // }
            span{
              &.more_plus{
                font-size: 20px;
                color:#fff;
                font-family: "spoqaHanSansNeo500";
                margin-left: 5px;
                margin-right: -5px;
                transition: 0.2s;
              }
            }
            &:hover{
            &::before{
              width: 100%;
            }
              .more_plus{
                transform: rotate(180deg) translateY(1px);
              }
            }
          }
        }
        .action-completed__container {
          width: 100%;
          height: auto;
          padding: 20px 30px;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
          background-color: #fff;
          .action-completed__table {
            width: 100%;
            border-collapse: collapse;
            thead {
              width: 100%;
              tr {
                width: 100%;
                th {
                  border-bottom: 1px solid #595959; // 안나오는 이유확인
                  padding: 10px 0;
                  color: #2f2f2f;
                  text-align: center;
                  font-size: 18px;
                  &:first-child {
                    width: 40px;
                  }
                  &:nth-child(2) {
                    width: 120px;
                  }
                }
              }
            }
            hr {
              width: 100%;
              height: 1px;
              background-color: white;
            }
            tbody {
              wddth: 100%;
              tr {
                td {
                  &:nth-child(2){
                    width: 200px;
                  }
                  color: #2f2f2f;
                  text-align: center;
                  font-size: 18px;
                  height: 69px;
                  .action-completed__detaill-button {
                    margin: auto;
                    font-family: "spoqaHanSansNeo500";
                    color: #e60012;
                    font-size: 20px;
                    display: flex;
                    width: 107px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    border-radius: 11.823px;
                    background: transparent;
                    border: 1px solid #e60012;
                    transition: 0.3s;
                    &:hover{
                      background-color:#e60012;
                      border: 1px solid #fff;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .main {
    .main__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      .main__warning {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
      }
      .main__notice {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
      }
      .main__statistical-analysis {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
      }
      .main__action-completed {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
        .action-completed__container {
          .action-completed__table {
            tbody {
              td {
                &:last-child {
                  width: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .main__container {
      padding: 20px;
      .main__left {
        .main__warning {
          width: 100%;
          height: auto;
          margin-bottom: 20px;
          .warning__title {
            font-size: 16px;
            margin-bottom: 10px;
          }
          .warning__container {
            height: auto;
            flex-direction: column;
            .warning__textbox {
              .textbox__current-count {
                .textbox__text {
                  font-size: 14px;
                }
                .textbox__count {
                  font-size: 20px;
                }
              }
              .textbox__info {
                .textbox__status {
                  font-size: 14px;
                }
                .textbox__info-live {
                  font-size: 14px;
                }
              }
            }
            .warning__passbox {
              width: 93px;
            }
          }
        }
        .main__statistical-analysis {
          margin-bottom: 20px;
          height: 100%;
          .statistical__top-text {
            margin-bottom: 10px;
            .top__analysis {
              font-size: 16px;
            }
            .top__more {
              font-size: 14px;
            }
          }
          .statistical__content-box {
            padding: 20px 10px;
            .statistical__filter-wrapper {
              flex-direction: column;
              margin-bottom: 11px;
              .filter-wrapper__site-dropdown {
                margin-bottom: 8px;
                margin-right: 0;
                .filter__site-name--cliked {
                  max-width: 100%;
                  width: 100%;
                }
              }
              .filter__setting {
                flex-direction: column;
                .filter-wrapper__date-range {
                  width: 100%;
                  margin-bottom: 6px;
                }
                .filter-wrapper__tilde {
                  display: none;
                }
                .filter-wrapper__search-button {
                  width: 100%;
                  font-size: 14px;
                  margin-left: 0;
                }
              }
            }
            .site__list {
              top: 186px;
            }
            .statistical__container {
              .statistical__container-list {
                .statistical__container-type {
                  font-size: 14px;
                  margin-right: 4px;
                  word-break: keep-all;
                }
              }
            }
          }
        }
      }
      .main__right {
        .main__notice {
          margin-bottom: 20px;
          width: 100%;
          height: auto;
          .notice__top-text {
            margin-bottom: 10px;
            .top__announcements {
              font-size: 16px;
            }
            .top__more {
              font-size: 14px;
            }
          }
          .notice__container {
            height: auto;
            padding: 20px;
            .container__list {
              .list__item {
                .item__title {
                  font-size: 14px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                .item__day {
                  font-size: 14px;
                }
              }
            }
          }
        }
        .main__action-completed {
          width: 100%;
          height: 100%;
          .action-completed__top-text {
            margin-bottom: 10px;
            .top__analysis {
              font-size: 16px;
            }
            .top__more {
              font-size: 14px;
            }
          }
          .action-completed__container {
            min-height: auto;
            padding: 10px 6px;
            .action-completed__table {
              thead {
                tr {
                  th {
                    padding: 3.48px;
                    font-size: 14px;
                    &:first-child {
                      width: 42px;
                    }
                  }
                  .hide-on-mobile {
                    display: none;
                  }
                }
              }
              tbody {
                tr {
                  td {
                    font-size: 14px;
                    height: 50px;
                    padding: 3.48px 0;
                    width: 80px;
                    &:first-child {
                      width: 20px;
                    }

                    .action-completed__detaill-button {
                      border-radius: 4px;
                      font-size: 12px;
                      width: 53px;
                      height: 20px;
                    }
                  }
                  .hide-on-mobile {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
