.nft {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .nft__exchange {
        padding: 50px 140px;
        background: url('../assets/images/nft/nft-banner.png') no-repeat center center;
        background-size: cover;
    }
    .nft__exchange--title {
        color: #cf0;
        font-family: Orbitron700;
        font-size: 32px;
        letter-spacing: 0.96px;
        margin-bottom: 40px;
    }
    .nft__exchange--desc {
        color: #f1f1f1;
        text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.6);
        font-family: Orbitron400;
        font-size: 20px;
        letter-spacing: 0.6px;
        margin-bottom: 24px;
    }
    .nft__exchange--button {
        float: right;
        width: 100px;
        height: 30px;
        background: #cf0;
        position: relative;
        top: 0;
        transition: 0.2s;
        color: var(--Text-dark-title, #1A1A1A);
        font-family: Orbitron600;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        border-radius: 12px;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            width: calc(100% - 2px);
            transition: 0.2s;
            border-radius: 12px;
            height: 29px;
            border: 1px solid #cf0;
        }
        &:hover{
            top: 4px;
            &::before{
                top: 0;
            }
        }
    }

}




@media screen and (max-width: 768px) {
    .nft{
        .nft__exchange{
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}


