.nft-item-detail {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .nft-item-detail-info-wrap {
    padding-bottom: 14px;
    // border: 1px solid #cf0;
    border-radius: 12px;
    .nft-item-detail-info-wrap__title {
      color: var(--primary-base, #cf0);
      font-family:  Pretendard600;
      font-size: 30px;
      font-style: normal;
      margin-bottom: 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      width: 100%;
      span {
        color: #f1f1f1;
        font-family:  Pretendard500;
        font-size: 12px;
        font-style: normal;
        line-height: normal;
        border: 1px solid #00ffb3;
        border-radius: 12px;
        padding: 8px 12px;
        white-space: nowrap;
      }
    }
  } //nft-item-detail-info-wrap--END--
  .nft-item-detail-info {
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #cf0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .nft-item-detail-info__data {
    display: flex;
    gap: 16px;
  }
  .nft-item-detail-info__data--texts {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .texts__title {
      color: #fff;
      font-family:  Pretendard400;
      font-size: 20px;
    }
    // 여기 그냥 컴포넌트로 뺄까봐요ㅋ
    .texts__user {
      display: flex;
      align-items: center;
      color: #f1f1f1;
      font-family: Pretendard400;
      font-size: 14px;
      gap: 10px;
      img {
        width: 24px;
        height: 24px;
        object-fit: cover;
      }
    }
    .texts__desc {
      display: flex;
      gap: 8px;
    }
    .texts__desc--title {
      white-space: nowrap;
      color: #f1f1f1;
      font-family: Pretendard400;
      font-size: 16px;
    }
    .texts__desc--text {
      color: #aaa;
      font-family: Pretendard400;
      font-size: 16px;
    }
  }
  .nft-item-detail-info__like {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #aaa;
    font-family: Pretendard400;
    font-size: 12px;
  }
  .nft-item-detail-info__data--image {
    object-fit: cover;
    max-width: 180px;
    max-height: 180px;
    border-radius: 12px;
  }

  //=======
  .nft-item-detail-info__stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    .stats__item {
      padding: 12px 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      border: 1px solid #cf0;
      border-radius: 12px;
    }
    .stats__item--title {
      color: #cf0;
      font-family:  Pretendard400;
      font-size: 10px;
      letter-spacing: 0.3px;
    }
    .stats__item--value {
      display: flex;
      justify-content: space-between;
    }
    .stats__item--value__text {
      color: #007e56;
      font-family:  Pretendard600;
      font-size: 14px;
      letter-spacing: 0.42px;
    }
    .stats__item--value__suffix {
      color: #a3a3a3;
      font-family:  Pretendard400;
      font-size: 12px;
      letter-spacing: 0.36px;
    }
  }

  .album-detail__audio {
    border-radius: 12px;
    border: 1px solid #222;
    padding: 16px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
    // min-height: 136px;
    .album-detail__audio__cover {
      content: '';
      width: 200px;
      height: 200px;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-20%, -50%);
      background: url('../assets/images/album/album-bg.png') center no-repeat;
      background-size: cover;
      z-index: 0;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        border-radius: 100%;
        overflow: hidden;
      }
      animation: rotateCover 4s linear infinite;
      animation-play-state: paused; /* 기본값은 정지 */
      &.playing {
        animation-play-state: running; /* 재생 시 회전 시작 */
      }
      @keyframes rotateCover {
        0% {
          transform: translate(-20%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-20%, -50%) rotate(360deg);
        }
      }
    } //album-detail__audio__cover--END--
    .rhap_container {
      // margin-top: 16px;
      background: transparent;
      border: 1px solid transparent;
      border-radius: 2px;
      position: relative;
      z-index: 1;
      .rhap_time.rhap_current-time {
        min-width: 58px;
      }
      * {
        color: #fff;
        margin-top: 0;
      }
    }
    .rhap_main-controls {
      button {
        font-family: math !important;
        font-size: 30px;
        svg {
          font-size: 30px;
        }
        &:nth-child(2) {
          position: relative;
          top: 10px !important;
          display: block !important;
        }
        &.rhap_button-clear {
          &.rhap_main-controls-button {
            position: relative;
            top: 8px;
            display: none;
          }
        }
      }
    }
    .rhap_volume-container {
      & > div {
        position: relative;
        top: 7px;
      }
    }
    .rhap_progress-indicator {
      background: #a9d400 !important;
      width: 10px;
    }
    .rhap_volume-indicator {
      background: #a9d400;
      width: 8px;
    }
  } //album-detail__audio--END--
}

.nft-item-detail__song-detail {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #222;
  .nft-item-detail__song-detail__title {
    color: #cf0;
    font-family:  Pretendard400;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    margin-bottom: 16px;
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: -4px;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #cf0;
    }
  }
  .nft-item-detail__song-detail__bot {
    // display: flex;
    // gap: 16px;
    .nft-item-detail__song-detail__bot__title{
      color: #f1f1f1;
      font-family:  Pretendard500;
      font-size: 20px;
      font-style: normal;
      margin-bottom: 16px;
    }//nft-item-detail__song-detail__bot__title--END--
    .nft-item-detail__song-detail__cover{
      display: flex;
      gap: 16px;
    }
    .nft-item-detail__song-detail__left {
      width: 420px;
      flex-shrink: 0;
      position: relative;
      .album-detail__song-detail__left__img__play-btn {
        display: flex;
        width: 100%;
        height: 60px;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 16px;
        border: 1px solid #cf0;
        color: #fff;
        font-family:  Pretendard500;
        font-size: 14px;
        font-style: normal;
        line-height: 100%; /* 14px */
        img {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          object-fit: cover;
          margin-right: 12px;
          background: #fff;
          border-radius: 100%;
        }
      }
      .nft-item-detail__song-detail__left__img__lyric-btn {
        position: absolute;
        right: 16px;
        bottom: 16px;
        background: #000;
        border-radius: 12px;
        padding: 4px 12px;
        color: #fff;
        font-family: Pretendard400;
        font-size: 12px;
        font-style: normal;
        line-height: normal;
      }
      .nft-item-detail__song-detail__left__img {
        width: 100%;
        height: 420px;
        border-radius: 24px;
        background: var(--Color-03, #222);
        padding: 10px;
        position: relative;
        cursor: pointer;
        &.active {
          .nft-item-detail__song-detail__left__img__txt {
            opacity: 1;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
        .nft-item-detail__song-detail__left__img__txt {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.3s;
          opacity: 0;
          overflow: auto;

          pre {
            width: 100%;
            min-height: 100%;
            height: auto;
            position: relative;
            z-index: 1;
            background: transparent;
            font-size: 14px;
            width: 100%;
            overflow-x: auto;
            white-space: pre-wrap;
            padding: 32px;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
              background: #000;
              opacity: 0.6;
            }
          }
        }
      }
      .nft-item-detail__song-detail__left__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        p {
          position: relative;
          // cursor: pointer;
          .tw-connect-wallet {
            position: absolute;
            top: 0 !important;
            left: 0 !important;
            border-radius: 0 !important;
            width: 66px !important;
            padding: 0 !important;
            height: 22px !important;
            font-size: 0 !important;
            z-index: 10 !important;
            min-width: auto !important;
            opacity: 0;
            background: transparent !important;
            display: block;
          }
          .tw-connected-wallet {
            display: none;
            opacity: 0;
            z-index: -10 !important;
          }
          &.play {
            cursor: auto;
          }
        }
        button,
        p {
          // width: 66px;
          display: flex;
          align-items: center;
          color: #aaa;
          gap: 6px;
          font-family: Pretendard400;
          font-size: 12px;
          font-style: normal;
          line-height: 100%; /* 12px */
        }
        .play,
        .love,
        .share {
          display: flex;
          align-items: center;
          color: #aaa;
          gap: 6px;
          font-family: Pretendard400;
          font-size: 12px;
          font-style: normal;
          line-height: 100%;
          height: 32px;
          padding: 6px 4px;
          background-color: #222;
          border-radius: 6px;
        }
        .play {
          img {
            padding: 5px 0px 5px 5px;
          }
        }
        .share {
          cursor: pointer;
        }
        .nfts {
          height: 32px;
          padding: 4px;
          border-radius: 4px;
          border: 1px solid #383838;
          background-color: #222;
          gap: 4px;
          cursor: pointer;

          &.New {
            border-color: #ffffff;
          }
          &.Indie {
            border-color: #b89334;
          }
          &.Rising {
            border-color: #00d5a7;
          }
          &.Top {
            border-color: #df454d;
          }
          &.Legend {
            border-color: #5a9bf6;
          }

          .nfts-section {
            width: 1px;
            height: 100%;
            background-color: #565656;
          }
          .nfts-text {
            color: #fff;
            font-family:  Pretendard400;
            font-size: 8px;
          }
        }
        .nft-item-detail__song-detail__left__info__btn-box {
          display: flex;
          align-items: center;
          gap: 8px;

          .nft-item-detail__song-detail__more-btn {
            // padding: 4px 6px;
            border-radius: 6px;
            background-color: #222;
            height: 32px;
            width: 32px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            border: 1px solid transparent;
            position: relative;
            &:hover {
              border: 1px solid #a9d400;
            }
            &.active {
              .nft-item-detail__song-detail__more-btn__list {
                height: 116px !important;
                opacity: 1;
                border: 1px solid #678300;
              }
            }
            .nft-item-detail__song-detail__more-btn__list {
              position: absolute;
              right: 0;
              top: 38px;
              border-radius: 12px;
              background: #0b0b0c;
              transition: 0.3s;
              display: flex;
              flex-direction: column;
              overflow: hidden;
              width: 140px;
              transition: 0.3s;
              height: 0;
              opacity: 0;
              li {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 16px;
                align-items: center;
                cursor: pointer;
                padding: 0px 12px;
                height: 38px;
                transition: 0.3s;
                color: #fff;
                font-family: Pretendard400;
                font-size: 14px;
                transition: 0.3s;
                text-align: left;
                img {
                  width: 18px;
                  height: 18px;
                  object-fit: cover;
                }
                &:hover {
                  background: #222;
                }
              }
            } //album-detail__song-detail__more-btn__list--END--
          } //album-detail__song-detail__more-btn--END--

          .nft-item-detail__song-detail__left__info__txid-btn {
            display: flex;
            width: 70px;
            padding: 4px 6px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 6px;
            background: var(--Color-03, #222);
          }
          .nft-item-detail__song-detail__left__info__dow-btn {
            font-size: 0;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            background-color: #222;
            gap: 0;
          }
        }
        .nft-item-detail__song-detail__left__info__number {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          button {
            display: flex;
            align-items: center;
            color: #aaa;
            gap: 6px;
            font-family: Pretendard400;
            font-size: 12px;
            font-style: normal;
            line-height: 100%;
          }
        }
      }
    }
    .nft-item-detail__song-detail__right {
      flex: 1;
      flex-shrink: 0;
      .nft-item-detail__song-detail__right__title {
        color: #f1f1f1;
        font-family:  Pretendard500;
        font-size: 20px;
        font-style: normal;
        line-height: 100%;
        margin-bottom: 16px;
      }
      .nft-item-detail__song-detail__right__type {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        .nft-item-detail__song-detail__right__type__item {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--Text-dark-title, #1a1a1a);
          font-family: Pretendard400;
          font-size: 14px;
          font-style: normal;
          line-height: normal;
          border-radius: 12px 4px 12px 12px;
          background: #00ffb3;
          border: 1px solid #00ffb3;
          height: 24px;
          padding: 0 12px;
          position: relative;
          &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -5px;
            left: -1px;
            width: 100%;
            height: 24px;
            border-bottom: 1px solid #00ffb3;
            border-left: 1px solid #00ffb3;
            border-right: 1px solid #00ffb3;
            border-radius: 12px 12px 12px;
          }
        }
      }
      .nft-item-detail__song-detail__right__info-box {
        display: flex;
        flex-direction: column;
        gap: 12px;
        // margin-top: 20px;
        dl {
          &.Sold {
            dd {
              color: #a9d400;
              font-family: Pretendard400;
              font-size: 14px;
              font-style: normal;
            }
          }
          &.Listed {
            dd {
              color: #5a9bf6;
              font-family: Pretendard400;
              font-size: 14px;
              font-style: normal;
            }
          }
          &.Unlisted {
            dd {
              color: #df1919;
              font-family: Pretendard400;
              font-size: 14px;
              font-style: normal;
            }
          }
          display: flex;
          align-items: center;
          border: 1px solid #222;
          border-radius: 6px;
          min-height: 34px;
          overflow: hidden;
          &.artist {
            dt {
              // min-height: 40px;
            }
            dd {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-direction: row;
              width: 100%;
            }
          }
          dt {
            min-height: 34px;
            height: 100%;
            min-width: 140px;
            background: #222;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: -12px;
              display: block;
              width: 12px;
              height: 100%;
              border-right: 1px solid var(--Color-03, #222);
              background: var(--Color-02, #1a1a1a);
            }
          }
          dd {
            padding: 8px 12px 8px 24px;
            color: var(--Text-music-sub, #aaa);
            font-family: Pretendard400;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            display: flex;
            align-items: center;
            display: flex;
            flex-direction: column;
            span {
              color: var(--Text-music-sub, #aaa);
              gap: 4px;
              font-family: Pretendard400;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
            }
            .user {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;
              img {
                width: 16px;
                height: 16px;
                overflow: hidden;
                border-radius: 100%;
              }
            }
            .see-more-btn {
              color: #aaa;
              font-family: Pretendard400;
              font-size: 14px;
              font-style: normal;
              line-height: 100%;
              letter-spacing: 0.42px;
              transition: 0.3s;
              &:hover {
                color: #cf0;
              }
            }
          }
        }
      }
      .nft-item-detail__song-detail__right__value-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        margin-top: 16px;
        .nft-item-detail__song-detail__right__value-box__price {
          min-height: 172px;
          flex: 1;
          border-radius: 12px;
          border: 1px solid var(--secondary-base, #00ffb3);
          height: 74px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          gap: 16px;
          dt {
            color: var(--secondary-base, #00ffb3);
            text-align: center;
            font-family:  Pretendard500;
            font-size: 24px;
            font-style: normal;
          }
          dd {
            color: var(--Text-music-title, #f1f1f1);
            text-align: center;
            font-family: Pretendard700;
            font-size: 36px;
            font-style: normal;
            line-height: normal;
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;
            span {
              // position: absolute;
              // top: 8px;
              // left: -52px;
              color: var(--Dark-Color-07, var(--Color-07, #a3a3a3));
              font-family: Pretendard500;
              font-size: 18px;
              font-style: normal;
            }
          }
          &.sell-nft {
            background: #4ee1fb;
          } //sell-nft--END--
        } //.nft-item-detail__song-detail__right__value-box__price--END--
      }
      .nft-item-detail__song-detail__right__time-box {
        border-radius: 16px;
        border: 1px solid var(--primary-base, #cf0);
        padding: 16px;
        margin-top: 16px;
        .nft-item-detail__song-detail__right__time-box__title {
          color: var(--Text-music-title, #f1f1f1);
          font-family: Pretendard500;
          font-size: 12px;
          font-style: normal;
          margin-bottom: 4px;
        }
        .nft-item-detail__song-detail__right__time-box__utc {
          color: var(--primary-300, #87aa00);
          font-family: Pretendard400;
          font-size: 14px;
          font-style: normal;
          margin-bottom: 8px;
        }
        .nft-item-detail__song-detail__right__time-box__end {
          color: var(--Text-music-title, #f1f1f1);
          font-family: Pretendard500;
          font-size: 12px;
          font-style: normal;
          line-height: 100%; /* 12px */
          margin-bottom: 8px;
        }
        .nft-item-detail__song-detail__right__time-box__time {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 4px;
          width: 80%;
          margin: 0 auto;
          p,
          span {
            color: var(--primary-base, #cf0);
            text-align: center;
            font-family: Pretendard500;
            font-size: 32px;
            font-style: normal;
            line-height: 100%; /* 32px */
          }
        }
      } //nft-item-detail__song-detail__right__time-box--END--
      .nft-item-detail__song-detail__right__btn-box {
        margin-top: 16px;
        .nft-item-detail__song-detail__right__btn-box__btn {
          width: 100%;
          height: 38px;
          background: #cf0;
          position: relative;
          top: 0;
          transition: 0.2s;
          color: var(--Text-dark-title, #1a1a1a);
          font-family:  Pretendard600;
          font-size: 16px;
          font-style: normal;
          line-height: normal;
          border-radius: 12px;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            width: calc(100% - 2px);
            transition: 0.2s;
            border-radius: 12px;
            height: 37px;
            border: 1px solid #cf0;
          }
          &:hover {
            top: 4px;
            &::before {
              top: 0;
            }
          }
          &.unlisted-nft {
            background-color: #383838;
            color: #565656;
            cursor: default;
            &:hover {
              top: 0px;
              &::before {
                top: 4px;
              }
            }

            &::before {
              border: 1px solid #383838;
            }
          }
          &.sell-nft {
            background: #4ee1fb;
            &::before {
              border: 1px solid #4ee1fb;
            }
          }
          &.cancel-nft {
            background: #bd0036;
            color: #1a1a1a;
            &::before {
              border: 1px solid #bd0036;
            }
          }
        } //button--END--
      } //.nft-item-detail__song-detail__right__btn-box--END--
    } //nft-item-detail__song-detail__right--END--
  } //nft-item-detail__song-detail--END--
}

@media screen and (max-width: 1200px) {
  .nft-item-detail__song-detail{
    .nft-item-detail__song-detail__bot{
      .nft-item-detail__song-detail__left{
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .nft-item-detail__song-detail {
    .nft-item-detail__song-detail__bot {
      .nft-item-detail__song-detail__left {
        .nft-item-detail__song-detail__left__info {
          flex-direction: column;
          justify-content: start !important;
          align-items: start !important;
          gap: 12px !important;
        }
      }
    }
  }
  .nft-item-detail {
    .nft-item-detail__song-detail {
      .nft-item-detail__song-detail__bot {
        .nft-item-detail__song-detail__cover{
          flex-direction: column;
        }
        .nft-item-detail__song-detail__left {
          // width: 40%;
          flex: 1;
          width: 100%;
          .nft-item-detail__song-detail__left__img {
            img{
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nft-item-detail__song-detail {
    .nft-item-detail__song-detail__bot {
      .nft-item-detail__song-detail__right {
        .nft-item-detail__song-detail__right__value-box {
          flex-direction: column;
          dl {
            width: 100%;
            padding: 8px 0;
          }
        }
      }
    }
  }
  .nft-item-detail {
    .nft-item-detail-info__data--texts {
      .texts__desc {
        flex-direction: column;
      }
    }

    .nft-item-detail-info__stats {
      grid-template-columns: repeat(2, 1fr);
    }

    .nft-item-detail__song-detail {
      .nft-item-detail__song-detail__bot {
        flex-direction: column;

        .nft-item-detail__song-detail__left {
          width: 100%;
          .nft-item-detail__song-detail__left__img {
            height: 320px;
            img{
              object-fit: cover;
            }
          }
        }
        .nft-item-detail__song-detail__right {
          .nft-item-detail__song-detail__right__info-box {
            dl {
              &:nth-child(5) {
                dt {
                  // min-height: 48px;
                }
              }
              &:last-child {
                // dt {
                //     min-height: 60px;
                // }
                // dd {
                //     flex-direction: column;
                //     gap: 4px;
                // }
              }
              min-height: auto;
              dt {
                font-size: 12px;
                min-width: 140px;
                min-height: 30px;
              }
              dd {
                padding: 0;
                padding-left: 24px;
                padding-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .nft-item-detail {
    .nft-item-detail-info__data {
      flex-direction: column;
    }
    .nft-item-detail-info__data--image {
      order: 1;
      width: 100%;
      max-width: none;
      max-height: none;
      aspect-ratio: 1/1;
    }
    .nft-item-detail-info__data--texts {
      order: 2;
    }
  }
}
