/* ============================================================
   ▶ VoteList 전역 스타일
============================================================ */

/* -------------------- 투표하기 리스트 섹션 -------------------- */
.vote-list-section{
    min-height: calc(100vh - 560px);

    .vote-list{
        display: flex;
        column-gap: 2%;
        row-gap: clamp(24px, 2vw, 30px);
    }
} 
