.albums-table {
  width: 100%;
  padding: 12px 16px;
  margin: 0 auto;
  border-collapse: collapse;
  thead {
    border-bottom: 1px solid var(--stroke-stroke, #232323);
    tr {
      height: 70px;
      padding: 12px 16px;
      gap: 16px;
      align-items: center;
      align-self: stretch;
      th {
        color: var(--primary-200, #a9d400);
        text-align: center;
        font-family: Orbitron;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  tbody {
    tr {
      height: 70px;
      padding: 12px 16px;
      gap: 16px;
      align-items: center;
      align-self: stretch;
      td {
        color: var(--Text-music-sub, #aaa);
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        .albums-table__detail-btn {
          display: flex;
          width: 100px;
          padding: 8px 12px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 12px;
          background: var(--Color-03, #222);
        }
      }
      &:hover {
        background: var(--Color-04, #383838);
      }
    }
  }
}
