.chart__pie {
    position: relative;

    .chart__pie--text {
        position: absolute;
        left: 50%;
        top: 47%;
        transform: translate(-50%, -50%);
        text-align: center;

        .chart__pie--text-value {
            transition: 0.3s;
            font-size: 24px;
            font-family:  Pretendard600;
        }
        .chart__pie--text-per {
            color: #cf0;
            text-align: center;
            font-family:  Pretendard600;
            font-size: 12px;
        }
    }

    .chart__pie--legends {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        left: -40%;
        gap: 8px;
        justify-content: center;

        .chart__pie--legends__item {
            display: flex;
            gap: 8px;
        }

        .chart__pie--legends__item--square {
            width: 16px;
            height: 16px;
            border-radius: 2px;
        }
        .chart__pie--legends__item--label-image {
            padding: 4px;
            border-radius: 40px;
            background-color: #222;
            img {
                width: 10px;
                height: 10px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .chart__pie {
        .chart__pie--legends {
            flex-direction: row;
            gap: 16px;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
