.filter-date-modal {
  .filter-date-box,
  .filter-count-box {
    p {
      color: #f1f1f1;
      font-family: Orbitron, sans-serif;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.42px;
    }

    div {
      display: flex;
      gap: 16px;

      .custom-radio {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 10px 2px 10px 10px;
        border: 1px solid var(--Color-04, #383838);

        // 기본 라디오 버튼 숨김
        input {
          display: none;
        }

        // 체크 마크가 들어갈 원
        .radio-checkmark {
          width: 20px;
          height: 20px;
          border: 1px solid #3f3f3f;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          position: relative;
          font-size: 14px;
          color: transparent; // 기본 상태에서는 투명
          font-weight: bold;
        }

        // 선택되었을 때 스타일 변경
        &.active {
          display: flex;
          padding: 8px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          border-radius: 10px 2px 10px 10px;
          border: 1px solid var(--primary-base, #cf0);
          .radio-checkmark {
            background: #cf0;
            color: #a6ff00; // 체크 마크 색상
            border-color: #a6ff00;

            &::after {
              content: "v"; // 체크 마크 추가
              font-size: 18px;
              font-weight: bold;
              color: #333;
            }
          }
        }

        &:hover {
          border-color: #a6ff00;
          color: #a6ff00;
        }
      }
    }
  }
}
