.albums__filter {
    display: flex;
    gap: 16px;

    .albums__filter-modal {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .albums__filter__btn {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 10px 2px 10px 10px;
        border: 1px solid var(--primary-200, #a9d400);
        position: relative;
        img {
            margin-right: 6px;
        }
        span {
            color: var(--primary-base, #cf0);
            font-family: Inter400;
            font-size: 14px;
            font-style: normal;
            line-height: 100%; /* 14px */
        }
        &::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            top: 2px;
            right: 2px;
            border-radius: 100%;
            background-color: #cf0;
        }
    }

    .albums__filter-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 8px;
        .albums__filter-buttons--button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            padding: 14px 20px;
            gap: 8px;
            border-radius: 4px;
            text-align: center;
            font-size: 16px;
            font-style: normal;

            &.reset {
                width: 100px;
                border: 1px solid var(--Color-04, #383838);
            }
            &.view {
                flex: 1;
                color: var(--Dark-Color-02, var(--Color-02, #1a1a1a));
                background: #cf0;
            }
        }
    }

    .albums__filter-item-wrap {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .albums__filter-item-wrap--title {
            color: #f1f1f1;
            font-family: Orbitron400;
            font-size: 14px;
            padding-bottom: 12px;
            text-transform: capitalize;
            border-bottom: 1px solid #222;
        }

        .albums__filter-item-wrap--contents {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 8px;
        }
        .albums__filter-item-wrap--contents__item {
            padding: 6px 14px;
            border-radius: 20px;
            background-color: #222;
            border: 1px solid #383838;
            color: #a3a3a3;
            font-size: 14px;
            display: flex;
            gap: 10px;
            &.select {
                background-color: #cf0;
                color: #222;
            }

            .icons {
                padding: 4px;
                border-radius: 100%;
                background-color: #222;

                img {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}
