.create__get-started--left-count-box {
  .create__get-started--left-count {
    color: var(--Grey-600, #767676);
    font-family: Pretendard400;
    font-size: 20px;
    font-style: normal;
    line-height: 30px; /* 150% */
    .sky-blue {
      color: var(--Primary, #48b3ff);
      font-family: Pretendard700;
      font-size: 20px;
      font-style: normal;
      line-height: 30px;
    }
  }
  // 구글 자동번역때문에 사용됨
  font {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    font-style: inherit !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    font-variant: inherit !important;
    text-transform: inherit !important;
    text-rendering: inherit !important;
    -webkit-font-smoothing: inherit !important;
  }
}
