.create__get-started--left-count-box {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--secondary-base, #00ffb3);
  background: rgba(0, 255, 179, 0.1);
  backdrop-filter: blur(2px);
}
.create__get-started--left-count {
  color: #fff;
  font-family:  Pretendard500;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font{
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    font-style: inherit !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    font-variant: inherit !important;
    text-transform: inherit !important;
    text-rendering: inherit !important;
    -webkit-font-smoothing: inherit !important;
  }
}
