.create__get-started--left-count {
  color: #767676;
  font-family: Pretendard400;
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
  span {
    color: #48b3ff;
    font-family: Pretendard700;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
  }
  font {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    font-style: inherit !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    font-variant: inherit !important;
    text-transform: inherit !important;
    text-rendering: inherit !important;
    -webkit-font-smoothing: inherit !important;
  }
}
