// search-section START
.search-section{
  margin-bottom: 60px;
  padding-top: 20px;
  &__tit{
    font-weight: 700;
    color: #fff;
    font-size: clamp(14px, 1.5vw, 20px);
    line-height: clamp(22px, 2.2vw, 30px);
    margin-bottom: 16px;
  }
  &__search-bar{
    position: relative;
    max-width: 500px;
    .search-bar__input{
      border: 1px solid rgba(255, 255, 255, 0.10);
      background-color: rgba(255, 255, 255, 0.05);
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: #fff;
      border-radius: 30px;
      padding-right: 80px !important;
      &::placeholder{
        color: #767676;
      }
      &:focus{
        border-color: rgba(255, 255, 255, 0.50);
      }
      &:focus::placeholder{
        color: transparent;
      }
    }
    .search-bar__button{
      position: absolute;
      right: 16px;
      top: 0;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 12px;
    }
    .search-bar__btn-reset{
      display: none;
      &--typing{
        display: block;
      }
    }
  }
}// search-section END