.my-favorites {
  padding: 20px 16px 16px 16px;
  color: var(--primary-200, #a9d400);
  text-align: center;
  font-family: Orbitron400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  border-radius: 12px;
  border: 1px solid var(--Color-03, #222);
  .my-favorites__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    .my-favorites__title {
      color: var(--primary-base, #cf0);
      font-family: Orbitron400;
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.72px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width:4px;
        height:4px;
        top: -2px;
        left: -4px;
        background-color: #cf0;
        border-radius: 100%;
      }
    }
    .my-favorites__view-all{
      width: 100px;
      height: 30px;
      background: #cf0;
      position: relative;
      top: 0;
      transition: 0.2s;
      color: var(--Text-dark-title, #1A1A1A);
      font-family: Orbitron600;
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      border-radius: 12px;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: calc(100% - 2px);
        transition: 0.2s;
        border-radius: 12px;
        height: 29px;
        border: 1px solid #cf0;
      }
      &:hover{
        top: 4px;
        &::before{
          top: 0;
        }
      }
    }//my-favorites__view-all--END--
  }
  .my-favorites__search {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--Color-04, #383838);
    background: var(--Dark-Color-01, #0b0b0c);
    margin-bottom: 24px;
  }
}



@media screen and (max-width: 768px) {
  .my-favorites .my-favorites__header{
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}