.nft-market-place {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .nft-market-place__button-wrap {
    display: flex;
    gap: 12px;
  }
  .nft-market-place__button-wrap--button {
    border-radius: 10px 2px 10px 10px;
    border: 1px solid #888;
    color: #888;
    font-family: Orbitron500;
    font-size: 14px;
    padding: 8px;
    position: relative;

    &::after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #888;
      position: absolute;
      top: 2px;
      right: 2px;
    }

    &.selected {
      background-color: #cf0;
      color: #1a1a1a;
      border-color: transparent;
      &::after {
        background-color: #222;
      }
    }
  }
}
