.mypage__reward-payment {
  .reward__section,
  .payment__section {
    display: flex;
    padding: 20px 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--Color-03, #222);
    .section__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      .header-title {
        color: var(--primary-base, #cf0);
        font-family: Orbitron400;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.72px;
      }
    }
  }
}
