.error-modal {
  .error-modal__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
    img {
    }
    p {
      color: #cf0;
      font-size: 18px;
      font-family: orbitron600;
    }
  }

  .error-modal__text {
    text-align: center;
    color: #aaa;
    font-family: orbitron600;
    letter-spacing: 0.48px;
    margin-bottom: 24px;
    word-break: break-all;
  }

  .error-modal__button {
    width: 100%;
    border-radius: 12px;
    background-color: #cf0;
    position: relative;
    top: 0;
    transition: 0.2s all;
    height: 40px;
    color: #1a1a1a;
    font-family: Orbitron600;
    font-size: 16px;

    &:hover {
      top: 4px;
      &::before {
        top: 0px;
      }
    }

    &::before {
      transition: 0.2s all;
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100% - 1px);
      border-radius: 12px;
      border: 1px solid #cf0;
      top: 4px;
      left: 0px;
    }
  }

  //   .create-complete__button {
  //     height: 48px;
  //     width: 100%;
  //     background-color: #cf0;
  //     color: #1a1a1a;
  //     font-family: orbitron600;
  //     border-radius: 12px;
  //   }
  //   a {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     height: 48px;
  //     width: 100%;
  //     background-color: #cf0;
  //     color: #1a1a1a;
  //     font-family: orbitron600;
  //     border-radius: 12px;
  //   }
}
