.success-modal {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .success-modal__message {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    word-break: keep-all;
    font-family: Pretendard400;
    color: #aaa;
    font{
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      color: inherit !important;
      letter-spacing: inherit !important;
      word-spacing: inherit !important;
      font-variant: inherit !important;
      text-transform: inherit !important;
      text-rendering: inherit !important;
      -webkit-font-smoothing: inherit !important; 
      font-style: inherit !important;
      font-family: inherit !important;
    }
  }
  .success-modal__button {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    position: relative;
    top: 0px;
    transition: 0.2s all;
    background-color: #cf0;
    color: #1a1a1a;
    font-family:  Pretendard600;
    font{
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      color: inherit !important;
      letter-spacing: inherit !important;
      word-spacing: inherit !important;
      font-variant: inherit !important;
      text-transform: inherit !important;
      text-rendering: inherit !important;
      -webkit-font-smoothing: inherit !important; 
      font-style: inherit !important;
      font-family: inherit !important;
    }
    &:hover {
      top: 4px;
      &::before {
        top: 0px;
      }
    }

    &::before {
      content: '';
      width: calc(100% - 2px);
      height: calc(100% - 1px);
      border-radius: 12px;
      border: 1px solid #cf0;
      position: absolute;
      top: 4px;
      left: 0;
      transition: 0.2s all;
    }
  }
}
