.songs {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .songs__title {
    color: #cf0;
    font-family: Pretendard500;
    font-size: 24px;
    font-style: normal;
    margin-bottom: 24px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      top: 0;
      background-color: #cf0;
      border-radius: 100%;
    }
  }
  .songs__list {
    display: flex;
    padding: 20px 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #222;
  }
  .songs__body {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    .songs__item {
      display: flex;
      flex-direction: column;
      // flex: 1;
      width: calc(33.33% - 16px);
      .songs__item-title {
        color: #cf0;
        font-family:  Pretendard400;
        font-size: 18px;
        margin-bottom: 16px;
      }
      .songs__item-intro {
        display: flex;
        gap: 8px;
        .songs__item__img-box {
          width: 160px;
          height: 160px;
          flex-shrink: 0;
          padding: 10px;
          border-radius: 16px;
          background:#222;
          img {
            width: 100%;
            border-radius: 12px;
            object-fit: cover;
          }
        }
        .songs__item-desc {
          display: flex;
          flex-direction: column;
          gap: 8px;
          .songs__item-desc-text {
            align-self: stretch;
            color: #f1f1f1;
            font-family: Pretendard400;
            font-size: 14px;
            font-style: normal;
          }
          .songs__item__icon-box {
            display: flex;
            gap: 12px;
            align-items: center;
            .songs__item__play-count {
              display: flex;
              gap: 4px;
              span {
                color: #aaa;
                font-family: Pretendard400;
                font-size: 12px;
              }
            }
          }
          .songs__item__user-info {
            display: flex;
            align-items: center;
            img {
              width: 24px;
              height: 24px;
              margin-right: 8px;
            }
            span {
              color:#f1f1f1;
              font-family: Pretendard400;
              font-size: 12px;
              font-style: normal;
            }
            .songs__item__more-btn {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
  .songs__my-songs {
    border-radius: 12px;
    border: 1px solid #222;
    padding: 20px 16px 16px 16px;
    margin-top: 50px;
    .my-songs__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .my-songs__title {
        gap: 16px;
        flex: 1 0 0;
        color: #cf0;
        font-family:  Pretendard400;
        font-size: 24px;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          top: -2px;
          left: -4px;
          background-color: #cf0;
          border-radius: 100%;
        }
      }
      .my-songs__more-btn {
        width: 100px;
        height: 30px;
        background: #cf0;
        position: relative;
        top: 0;
        transition: 0.2s;
        color:#1a1a1a;
        font-family:  Pretendard600;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        border-radius: 12px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 4px;
          width: calc(100% - 2px);
          transition: 0.2s;
          border-radius: 12px;
          height: 29px;
          border: 1px solid #cf0;
        }
        &:hover {
          top: 4px;
          &::before {
            top: 0;
          }
        }
      } //my-songs__more-btn--END--
    }
    .my-songs__input {
      margin-bottom: 20px;
      input {
        display: flex;
        height: 46px;
        padding: 16px;
        align-items: center;
        align-self: stretch;
        border-radius: 4px;
        border: 1px solid #232323;
        background: #141414;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .songs .songs__body {
    flex-direction: column;
  }
  .songs .songs__body .songs__item {
    width: 100%;
  }

  .songs-table {
    // min-width: 768px;
    // overflow: auto;
  }
}
