

.advanced-input{
  .advanced-form{
    background-color: transparent;
    .advanced-border{
      border: 1px solid #888;
    }
    .rdw-option-wrapper{
      border: 1px solid transparent;
      background-color: #777;
    }//rdw-option-wrapper--END--
    .rdw-editor-toolbar{
      background: transparent;
      border: 1px solid transparent;
    }//rdw-editor-toolbar--END--
  }//.advanced-form--END--
}//advanced-input--END--
