






.edit-modal{
  .edit-modal__txt{
    color:#AAA;
    font-family: Pretendard400;
    font-size: 16px;
    font-style: normal;
    text-align: center;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
    span{
      color: var(--primary-base, #CF0);
      font-family: Pretendard400;
      font-size: 16px;
      font-style: normal;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
    }
  }//edit-modal__txt--END--
  .edit-modal__btns{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    button{
      width: 100%;
      height: 34px;
      background: #383838;
      position: relative;
      top: 0;
      transition: 0.2s;
      color: #fff;
      font-family:  Pretendard600;
      font-size: 12px;
      font-style: normal;
      line-height: normal;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: calc(100% - 2px);
        transition: 0.2s;
        border-radius: 8px;
        height: 33px;
        border: 1px solid #383838;
      }
      &:hover {
        top: 4px;
        &::before {
          top: 0;
        }
      }
      &:nth-child(2){
        background: #CF0;
        color: var(--Text-dark-title, #1A1A1A);
        font-family:  Pretendard600;
        font-size: 16px;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
        &::before{
          border: 1px solid #CF0;
        }
      }
    }
  }//edit-modal__btns--END--
}//edit-modal--END--



