@mixin fonts() {
  color: #aaa;
  font-size: 14px;
  font-family: Pretendard400;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
}

.evaluation-guide-modal {
  .evaluation-guide-modal__chart-parent {
    width: 100%;
    height: 200px;
  }

  .evaluation-guide-modal__text {
    @include fonts();
  }

  .evaluation-guide-modal__item--content {
    display: flex;
    gap: 8px;
  }

  .mb16 {
    margin-bottom: 16px;
  }
  .mb8 {
    margin-bottom: 8px;
  }
}
