








.footer{
  padding: 0 0 60px;
  .footer__time-img{
    width: 100%;
    height: 30px;
    background: url('../assets/images/footer/footer-time-bg.png') center no-repeat;
    background-size: cover;
    margin-bottom: 16px;
  }
  .footer__inner{
    width:calc(960px + 16px);
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
  }//footer__inner--END--
  .footer__top{
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    .footer__top__left{
      flex: 1;
      border-radius: 16px 4px 16px 16px;
      background: var(--Color-03, #222);
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .footer__top__left__logo{
        max-width: 180px;
        width: 100%;
      }
      .footer__top__left__sns{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        li{
          a{
            display: block;
          }
        }
      }//footer__top__left__sns--END--
      .footer__top__left__language{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        .footer__top__left__language__title{
          color: #FFF;
          font-family: Inter400;
          font-size: 14px;
          font-style: normal;
          line-height: 16px; /* 114.286% */
          text-transform: capitalize;
        }//footer__top__left__language__title--END--
        .footer__top__left__language__select-box{
          position: relative;
          width: 100%;
          &.active{
            .footer__top__left__language__select-box__title{
              &::after{
                transform: translate(0,-50%) rotate(180deg);
                
              }
            }
            .footer__top__left__language__select-box__list{
              width: 100%;
              height: auto;
              border: 1px solid #383838;
              opacity: 1;
            }
          }
          .footer__top__left__language__select-box__title{
            width: 100%;
            height: 36px;
            display: flex;
            align-items: center;
            padding: 0 16px;
            border-radius: 6px;
            border: 1px solid var(--Color-04, #383838);
            background: var(--Dark-Color-01, #0B0B0C);
            color: var(--Text-music-title, #F1F1F1);
            font-family: Inter400;
            font-size: 14px;
            font-style: normal;
            line-height: 16px; /* 114.286% */
            text-transform: capitalize;
            position: relative;
            cursor: pointer;
            &::after{
              content: '';
              position: absolute;
              right: 10px;
              top:50%;
              transform: translate(0,-50%);
              background: url('../assets/images/arrow_down.svg') center no-repeat;
              background-size: contain;
              width: 24px;
              height: 24px;
              transition: 0.3s;
            }
          }//footer__top__left__language__select-box__title--END--
          .footer__top__left__language__select-box__list{
            position: absolute;
            top: 42px;
            left: 0;
            z-index: 1;
            background: #0B0B0C;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
            height: 0;
            border: 1px solid transparent;
            transition: 0.3s;
            opacity: 0;
            li{
              padding: 12px 16px;
              font-size: 12px;
              transition: 0.3s;
              cursor: pointer;
              &:hover{
                background: #87AA00;
              }
            }
          }//footer__top__left__language__select-box__list--END--
        }//footer__top__left__language__select-box--END--
      }//footer__top__left__language--END--
    }//footer__top__left--END--
    .footer__top__right{
      flex: 2;
      .footer__top__right__menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        height: 100%;
        dl{
          display: flex;
          flex-direction: column;
          gap: 16px;
          min-height: 110px;
          dt{
            color: var(--primary-300, #87AA00);
            font-family: Inter500;
            font-size: 14px;
            font-style: normal;
            line-height: normal;
            text-transform: capitalize;
          }
          dd{
            a{
              color: var(--Text-music-sub, #AAA);
              font-family: Inter400;
              font-size: 12px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }
            color: var(--Text-music-sub, #AAA);
            font-family: Inter400;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }
      }//footer__top__right__menu--END--
    }//footer__top__right--END--
  }//footer__top--END--

  .footer__bottom{
    width: 100%;
    height: 210px;
    position: relative;
    display: flex;
    gap: 16px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #222;
    .footer__bottom__left{
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 16px;
      border-radius: 14px 6px 14px 14px;
      border: 1px solid #565656;
      flex: 1;
      height: 100%;
      .footer__bottom__left__music-token{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        .footer__bottom__left__music-token__txt{
          display: flex;
          gap: 8px;
          img{
            width: 42px;
            height: 42px;
            object-fit: cover;
          }
          dl{
            dt{
              color: var(--Text-music-title, #F1F1F1);
              font-family: Orbitron600;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            dd{
              color: var(--Text-music-sub, #AAA);
              font-family: Inter400;
              font-size: 12px;
              font-style: normal;
              line-height: normal;
            }
          }
        }//footer__bottom__left__music-token__txt--END--
        .footer__bottom__left__music-token__number{
          dt{
            color: var(--Text-music-title, #F1F1F1);
            text-align: right;
            font-family: Orbitron600;
            font-size: 18px;
            font-style: normal;
            line-height: normal;
          }
          dd{
            color: #FF004C;
            text-align: right;
            font-family: Inter400;
            font-size: 14px;
            font-style: normal;
            line-height: normal;
          }
        }//footer__bottom__left__music-token__number--END--
      }//footer__bottom__left__music-token--END--
      .footer__bottom__left__token-value{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        dt{
          color: var(--Text-music-sub, #AAA);
          font-family: Inter400;
          font-size: 14px;
          font-style: normal;
          line-height: normal;
        }
        dd{
          color: var(--Text-music-sub, #AAA);
          font-family: Orbitron400;
          font-size: 14px;
          font-style: normal;
          line-height: normal;
        }
      }//footer__bottom__left__token-value--END--
    }//footer__bottom__left--END--
    .footer__bottom__right{
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      border-radius: 14px 6px 14px 14px;
      border: 1px solid #565656;
      flex: 1;
      height: 100%;
      .footer__bottom__slide{
        width: 100%;
        .swiper-slide{
          width: 100%;
          display: flex;
          gap: 16px;
          align-items: center;
          justify-content: space-between;
          position: relative;
          &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -8px;
            width: 100%;
            height: 1px;
            background: #222;
          }
          &.swiper-slide-active{
            .footer__bottom__slide__item__left{
              .footer__bottom__slide__item__left__hash{
                img{
                  width: 46px;
                  height: 46px;
                }
                dl{
                  dt{
                    p,span{
                      color: var(--Text-music-title, #F1F1F1);
                      font-family: Orbitron600;
                      font-size: 18px;
                      font-style: normal;
                      line-height: normal;
                    }
                  }
                }
              }
            }
          }//swiper-slide-active--END--
          .footer__bottom__slide__item__left{
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: space-between;
            .footer__bottom__slide__item__left__hash{
              display: flex;
              gap: 8px;
              align-items: center;
              img{
                width: 24px;
                height: 24px;
                object-fit: contain;
                border-radius: 100%;
                overflow: hidden;
                transition: 0.3s;
              }
              dl{
                dt{
                  color: var(--Text-music-sub, #AAA);
                  font-family: Inter400;
                  font-size: 14px;
                  font-style: normal;
                  line-height: normal;
                  display: flex;
                  align-items: center;
                  p,span{
                    color: var(--Text-music-sub, #AAA);
                    font-family: Inter400;
                    font-size: 14px;
                    font-style: normal;
                    line-height: normal;
                  }
                }
                dd{
                  color: var(--Text-music-sub, #AAA);
                  font-family: Inter400;
                  font-size: 14px;
                  font-style: normal;
                  line-height: normal;
                }
              }
            }

          }//footer__bottom__slide__item__left--END--
        }//footer__bottom__slide--END--
      }//footer__bottom__slide--END--
    }//footer__bottom__right--END--
  }//footer__bottom--END--

}//footer--END--




@media screen and (max-width: 980px) {
  .footer{
    width: 100%;
    .footer__inner{
      width: 100%;
    }
  }
}


@media screen and (max-width: 768px) {
  .footer{
    padding-bottom: 40px;
    .footer__top,.footer__bottom{
      flex-direction: column;
      height: auto;
    }
    .footer__bottom{
      height: 440px;
      .footer__bottom__right{
        height: 210px;
        .swiper{
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer{
    .footer__top{
      .footer__top__right{
        .footer__top__right__menu{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          dl{
            min-height: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer{
    .footer__bottom{
      .footer__bottom__right{
        .footer__bottom__slide{
          .swiper-slide{
            position: relative;
            &.swiper-slide-active{
              flex-direction: column;
              align-items: start;
              .footer__bottom__slide__item__right{
                margin-left: auto;
                position: absolute;
                right: 0;
                bottom: 8px;
              }
            }
          }
        }
      }
    }
  }
}

