.links-modal {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .links-modal__item {
    color: #519bf6;
    font-family:  Pretendard400;
    font-size: 12px;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
    &.invalid {
      color: #383838;
      pointer-events: none;
    }
  }
}
