








.modal-wrap{
  &.lyrics{
    .modal-content-box{
      max-width: 800px;
      .modal-content{
        font-size: 14px;
        padding: 24px;
        border: 1px solid #222;
        background: #121212;
        white-space: normal;      
        overflow-wrap: break-word;
        word-break: break-word;   
        display: -webkit-box;  
        max-height: 600px;
        overflow-y: auto;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
        .lyrics__content{
          background: transparent;
          width: 100%;
        }
      }
    }
  }
}//.modal-wrap--END--