// 프리페어링

.confirm-success-modal {
  width: 100%;
  dl {
    width: 100%;
    margin-bottom: 24px;
    dt {
      color: #f1f1f1;
      font-family: Pretendard400;
      font-size: 16px;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
    }
    dd {
      color: #cf0;
      font-family: Pretendard400;
      font-size: 16px;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
    }
  }
  .confirm-modal__btns,
  .confirm-success-modal__btns {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    button {
      &.confirm-modal__btns__cancel {
        background: #383838;
        color: #fff;
        &::after {
          border: 1px solid #383838;
        }
      }

      flex: 1;
      width: 100%;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #cf0;
      transition: 0.2s;
      font-size: 14px;
      border-radius: 12px;
      color: #1a1a1a;
      font-family:  Pretendard600;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: relative;
      top: 0;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
      &:hover {
        top: 5px;
        &::after {
          top: -1px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        width: calc(100% - 2px);
        height: 100%;
        border: 1px solid #cf0;
        top: 4px;
        border-radius: 12px;
        transition: 0.2s;
      }
    }
  } //confirm-modal__btns--END--

  .confirm-success-modal__content {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    word-break: keep-all;
    font-family: Pretendard400;
    color: #aaa;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
  }

  .confirm-success-modal__btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    &__ok {
      width: 100%;
      max-width: 400px;
      height: 56px;
      border-radius: 8px;
      background-color: #8a68f5;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
  }
} //confirm-modal--END--

.preparing-btn {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cf0;
  transition: 0.2s;
  font-size: 14px;
  border-radius: 12px;
  color: #1a1a1a;
  font-family:  Pretendard600;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  top: 0;
          font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
          }
  &:hover {
    top: 5px;
    &::after {
      top: -1px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: 100%;
    border: 1px solid #cf0;
    top: 4px;
    border-radius: 12px;
    transition: 0.2s;
  }

  // &:hover {
  //     box-shadow: 0px 0px 10px 0px #cf0;
  // }
} //preparing-btn--END--
// 프리페어링
