.profile__none-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  .profile__none-image {
    width: 40px;
  }
  .profile__none-text {
    color: #a3a3a3;
    text-align: center;
    font-family: Pretendard600;
    font-size: 16px;
    line-height: normal;
  }
}

// .loading-single{
//   width: 100%;
//   height: 386px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
