.song-release-modal {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .song-release-modal__message {
        color: #aaa;
        // font-family: Inter400;
        font-size: 16px;

        .point {
            font: inherit;
            color: #cf0;
        }
    }

    .song-release-modal__button-wrap {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        .song-release-modal__button {
            position: relative;
            width: 100%;
            font-family: Orbitron600;
            font-size: 16px;
            transition: 0.3s all;
            border-radius: 12px;
            height: 40px;

            &:hover {
                transform: translateY(3px);
                &::after {
                    transform: translateY(0px);
                }
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: translateY(3px);
                border-radius: 12px;
                border-bottom: 1px solid;
                transition: 0.3s all;
            }

            &.cancel-btn {
                color: #f1f1f1;
                background-color: #383838;
                &::after {
                    border-color: #383838;
                }
            }
            &.release-btn {
                color: #1a1a1a;
                background-color: #cf0;
                &::after {
                    border-color: #cf0;
                }
            }
        }
    }
}
