.unfollow-modal {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .unfollow-modal__message {
        width: 100%;
        color: #aaa;
        text-align: center;
        font-family:  Pretendard400;
        font-size: 16px;
        font-style: normal;
        font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
        }
    }

    .unfollow-modal__button-wrap {
        width: 100%;
        display: flex;
        gap: 24px;
        justify-content: space-between;
    }

    .unfollow-modal__button {
        border-radius: 12px;
        border: 1px solid;
        width: 100%;
        text-align: center;
        padding: 12px;
        font-family:  Pretendard600;
        font-size: 16px;
        position: relative;
        border: none;
        transition: 0.2s all;
        font {
            font-family:  inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            left: 0;
            top: 0;
            transform: translateY(5px);
            border-radius: 12px;
            border: 1px solid;
            transition: 0.2s all;
        }

        &:hover {
            transform: translateY(5px);

            &::after {
                transform: translateY(0px);
            }
        }

        &.no {
            color: #f1f1f1;
            background: #383838;
            &::after {
                border-color: #383838;
            }
        }
        &.yes {
            color: #1a1a1a;
            background-color: #cf0;
            &::after {
                border-color: #cf0;
            }
        }
    }
}
