.create__sidebar {
  width: 360px;
  min-height: 100vh;
  position: relative;

  &--group {
    display: flex;
    width: 360px;
    padding-top: 40px;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;

    .create__sidebar--item {
      display: flex;
      width: 360px;
      padding: 16px 20px;
      align-items: center;
      gap: 12px;
      border-radius: 20px;
      border: 1px solid var(--White-05, rgba(255, 255, 255, 0.05));
      background: var(--Grey-900, #181818);
      position: relative;
      z-index: 1;

      &.active {
        background: #303030;
        border: 1px solid rgba(255, 255, 255, 0.1);
      }

      &.lyrics {
        width: 300px;
      }

      .create__sidebar--item--checktitle {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &.create__sidebar--item--checktitle--spaced {
          justify-content: space-between;
          gap: 0;
          width: 100%;
        }
        img {
          width: 28px;
          height: 28px;
          aspect-ratio: 1 / 1;
        }

        p {
          font-family: Pretendard700;
          font-size: 20px;
          font-style: normal;
          line-height: 150%;
        }
      }

      .create__sidebar--item--icon {
        width: 32px;
        height: 32px;
        aspect-ratio: 1 / 1;
        flex-shrink: 0;
      }
    }

    .create__sidebar--melody-maker {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 12px;
    }
  }

  &--line {
    width: 6px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 7.01%,
      rgba(255, 255, 255, 0) 100%
    );
    flex-shrink: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 30px; // 원하는 위치로 조절
  }
}

// 박스 투명도 (opacity)
.opacity {
  opacity: 0.3;
}
