.create__description-banner {
    padding: 24px;
    border-radius: 18px;
    background-image: url('../../assets/images/create/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .desc-banner__title {
        color: var(--Text-music-title, #f1f1f1);
        font-family:  Pretendard400;
        font-size: 18px;
              font{
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
    }
    .desc-banner__strong {
        color: #cf0;
        font-family:  Pretendard400;
        font-size: 36px;
        
              font{
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
    }
    .desc-banner__notice {
        color: #aaa;
        font-family: Pretendard400;
        font-size: 16px;
        font    {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
    }
    }
    .desc-banner__tip-box {
        display: flex;
        max-width: 715px;
        padding: 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background: #121a00;
            font    {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
    }
    }
    .desc-banner__tip-header {
        color:#00ffb3;
        font-family: Pretendard400;
        line-height: 100%; /* 16px */
        white-space: nowrap;
                font    {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
    }
    }
    .desc-banner__tips {
        color: #007e56;
        font-family: Pretendard400;
        font-size: 16px;
        font    {
            font-family: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-style: inherit !important;
            color: inherit !important;
            letter-spacing: inherit !important;
        }
    }
}
