.composition__expanded-button {
    position: relative;
    border: 1px solid;
    color: transparent;
    &:active {
        .expanded-button {
            top: 0px;
        }
    }
    .expanded-button {
        font: inherit;
        position: absolute;
        border-radius: inherit;
        text-transform: capitalize;
        width: calc(100% + 2px);
        height: 100%;
        top: -3px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
