.composition__expanded-buttons {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    transition: 0.2s;
    &:hover {
        transform: translateY(4px);
        .composition__expanded-buttons-after {
            transform: translateY(-4px);
        }
    }
    &:disabled {
        color: #565656 !important;
        background-color: #000 !important;
        border: 1px solid #2c3a00 !important;
    }

    .composition__expanded-buttons-after {
        box-sizing: border-box;
        transition: 0.2s;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border-bottom: 2px solid;
        top: 4px;
        left: 0;
        z-index: 1;
    }
}
