.craete__finalizes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    ////////////////////////////////////////////
    .music-info {
        display: flex;
        gap: 24px;
    }

    .music-info__data,
    .music-info__image {
        width: 100%;
    }

    .music-info__image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .music-info__data {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .music-info__data--item {
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        border: 1px solid #222;
    }
    .music-info__data--item-title {
        color: #f1f1f1;
        font-family: Inter500;
        font-size: 14px;
        line-height: 100%; /* 14px */
        background-color: #222;
        width: 140px;
        padding: 12px;
        border-right: 12px solid #1a1a1a;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .music-info__data--item-value {
        flex: 1;
        color: #aaa;
        font-family: Inter400;
        font-size: 14px;
        line-height: 100%; /* 14px */
        padding: 12px;
    }

    ////////////////////////////////////////////////
    .created-lyrics {
        padding: 16px;
        border-radius: 12px;
        border: 1px solid #222;
    }
    .created-lyrics__title {
        margin-bottom: 40px;
        color: #cf0;
        font-family: Orbitron400;
        font-size: 24px;
        letter-spacing: 0.72px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 5px;
            height: 5px;
            top: 0;
            background-color: #cf0;
            border-radius: 100%;
        }
    }

    .created-lyrics__items {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .created-lyrics__item {
        width: 50%;
    }
    .created-lyrics__item--part {
        color: #888;
        font-family: Inter400;
        font-size: 18px;
    }
    .created-lyrics__item--lyric {
        color: #fff;
        font-family: Inter400;
        font-size: 20px;
    }
    //////////////////////////////////////////////

    .check-list {
        padding: 16px;
        border-radius: 12px;
        border: 1px solid #222;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .check-list__title {
        color: #cf0;
        font-family: Orbitron400;
        font-size: 18px;
        line-height: 30px;
    }
    .check-list__items {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 8px;
        input {
            width: fit-content;
        }
    }
    .check-list__items--title {
        color: #fff;
        font-family: Inter500;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 162.5% */
        letter-spacing: -0.32px;
    }
    .check-list__items--desc {
        color: #aaa;
        font-family: Inter400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.28px;
    }
}
