.create__get-started {
  display: flex;
  padding: 40px 30px 0px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  .create__get-started--title--section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    .create__get-started--title {
      color: #fff;
      font-family: Pretendard800;
      font-size: 24px;
      font-style: normal;
      line-height: 34px;
      font {
        color: inherit !important;
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        letter-spacing: inherit !important;
        word-spacing: inherit !important;
        font-variant: inherit !important;
        text-transform: inherit !important;
        text-rendering: inherit !important;
        -webkit-font-smoothing: inherit !important;
      }
    }
  }

  .create__get-started--features {
    margin-bottom: 40px;
    &.sequence {
      display: flex;
      justify-content: space-between;
    }
  }

  .create__get-started--features-title {
    color: #f1f1f1;
    font-family: Pretendard600;
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-bottom: 8px;
  }
  .create__get-started--features-items {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  .create__get-started--features-item {
    color: #aaa;
    font-family: Pretendard500;
    font-size: 14px;
    letter-spacing: 0.42px;
  }
  .create__btn {
    width: 100%;
    max-width: 1160px;
    height: auto;
    .create__get-started--button {
      display: flex;
      padding: 12px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 12px;
      // background: var(--Primary_Dark, #3a9de3);
      background-color: #cf0;
      // color: var(--White, #fff);
      color: #000;
      text-align: center;
      font-family: Pretendard700;
      font-size: 16px;
      font-style: normal;
      line-height: 24px;

      // &:hover {
      //   transform: translateY(5px);
      //   &::after {
      //     transform: translateY(0px);
      //   }
      // }

      // &::after {
      //   content: '';
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   box-sizing: border-box;
      //   top: 0;
      //   left: 0;
      //   transform: translateY(5px);
      //   border-radius: 12px;
      //   border: 1px solid;
      //   border-color: #cf0;
      //   transition: 0.2s all;
      // }

      &:disabled {
        cursor: not-allowed;
        display: flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 12px;
        // background: #24333e !important;
        background-color: #000 !important;
        color: var(--Grey-600, #767676) !important;
        text-align: center;
        font-family: Pretendard700;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        &:hover {
          transform: translateY(0px);
          &::after {
            transform: translateY(3px);
          }
        }

        &::after {
          display: none;
        }
      }
    }
  }

  .disabled {
    color: #565656 !important;
    background-color: #000 !important;
    // border: 1px solid #2c3a00 !important;
  }
  .tw-connect-wallet {
    color: #1a1a1a;
    font-family: Pretendard600;
    letter-spacing: 0.48px;
    padding: 8px 10px;
    border-radius: 12px;
    background-color: #cf0;
    float: right;
  }

  .버튼 {
    background-color: #cf0;
    border-radius: 12px;
    padding: 8px 24px;
    color: #000;
    font-family: Pretendard600;
  }

  $color1: #555;
  $color2: #00ffb3;
  .radio {
    margin: 0.5rem;
    input[type='radio'] {
      position: absolute;
      opacity: 0;
      + .radio-label {
        &:before {
          content: '';
          background: $color1;
          border-radius: 100%;
          // border: 1px solid darken($color1, 25%);
          display: inline-block;
          width: 1.4em;
          height: 1.4em;
          position: relative;
          top: -0.2px;
          margin-right: 1em;
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      }
      &:checked {
        + .radio-label {
          &:before {
            background-color: $color2;
            box-shadow: inset 0 0 0 4px $color1;
          }
        }
      }
      &:focus {
        + .radio-label {
          &:before {
            outline: none;
            // border-color: $color2;
          }
        }
      }
      &:disabled {
        + .radio-label {
          &:before {
            box-shadow: inset 0 0 0 4px $color1;
            // border-color: darken($color1, 25%);
            background: darken($color1, 25%);
          }
        }
      }
      + .radio-label {
        &:empty {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.create__get-started--version {
  &.active {
    .create__get-started--version__select__title {
      border: 1px solid #fff !important;
      &::after {
        transform: translate(0, -50%) rotate(180deg) !important;
      }
    }
    .create__get-started--version__select__list {
      height: 166px !important;
      opacity: 1 !important;
      border: 1px solid #fff !important;
    }

    .create__get-started--version__select__list li.disabled {
      opacity: 0.2;
      pointer-events: none;
      cursor: not-allowed;
      background-color: #181818; // 어둡게 보이도록
    }
  }
  .create__get-started--version__title {
    color: #f1f1f1;
    font-family: Pretendard700;
    font-size: 16px;
    margin-bottom: 16px;
    font {
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      font-style: inherit !important;
      color: inherit !important;
      letter-spacing: inherit !important;
    }
  } //create__get-started--version__title--END--
  .create__get-started--version__select {
    position: relative;
    width: 290px;
    .create__get-started--version__select__title {
      border-radius: 40px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(0, 0, 0, 0.7);
      height: 38px;
      color: #f1f1f1;
      font-family: Pretendard700;
      font-style: normal;
      line-height: 22px;
      font-size: 14px;
      display: flex;
      align-items: center;
      padding: 8px 16px;
      cursor: pointer;
      transition: 0.3s;
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translate(0, -50%);
        width: 22px;
        height: 22px;
        background: url('../../assets/images/arrow_down.svg') center no-repeat;
        background-size: cover;
        transition: 0.3s;
      }
      font {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
    } //create__get-started--version__select__title--END--
    .create__get-started--version__select__list {
      width: 100%;
      background: #0b0b0c;
      border-radius: 12px;
      border: 1px solid transparent;
      transition: 0.3s;
      overflow: hidden;
      position: absolute;
      top: 58px;
      z-index: 1;
      left: 0;
      height: 0;
      opacity: 0;
      li {
        height: 54px;
        padding: 10px 16px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background: #222;
        }
        p {
          align-self: stretch;
          color: #fff;
          font-family: Pretendard700;
          font-size: 14px;
          font-style: normal;
          line-height: 22px;
        }
        span {
          align-self: stretch;
          color: #767676;
          font-family: Pretendard400;
          font-size: 12px;
          font-style: normal;
          line-height: 18px;
        }
      }
    } //create__get-started--version__select__list--END--
  } //create__get-started--version__select--END--

  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  label {
    color: #aaa;
    font-family: Pretendard400;
    font-size: 14px;
    margin-bottom: 8px;
  }
  select {
    border-radius: 8px;
    background: #222;
    padding: 8px;
    color: #565656;
  }
}
.create__get-started--format {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  .create__get-started--format-title {
    color: #fff;
    font-family: Pretendard700;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
  }
  .create__get-started--format-item-group {
    display: flex;
    gap: 30px;
    .create__get-started--format-item {
      width: 565px;
      transition: 0.3s;
      display: flex;
      padding: 30px 40px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 24px;
      flex: 1 0 0;
      border-radius: 20px;
      border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1));
      background: linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
      cursor: pointer;
      position: relative;
      padding-top: 50px; // 아이콘 들어갈 여백
      overflow: hidden;
      &.active {
        border: 1px solid #fff;
        .create__get-started--format-item-icon {
          position: absolute;
          top: -13px;
          right: 20px;
          width: 166px;
          height: 166px;
          aspect-ratio: 1/1;
          transform: translate(-10px, 10px); // → 왼쪽/아래로 이동
          transition: all 0.3s ease;
        }
        .create__get-started--format-item-title {
          color: #fff;
          font-family: Pretendard700;
          font-size: 18px;
          font-style: normal;
          line-height: 28px;
        }
        .create__get-started--format-item-txt {
          color: var(--Grey-600, #767676);
          font-family: Pretendard400;
          font-size: 14px;
          font-style: normal;
          line-height: 22px;
        }
      }
      .create__get-started--format-item-icon {
        position: absolute;
        top: -13px;
        right: 20px;
        width: 166px;
        height: 166px;
        aspect-ratio: 1/1;
      }
      .create__get-started--format-item-title {
        color: #fff;
        font-family: Pretendard700;
        font-size: 18px;
        font-style: normal;
        line-height: 28px;
        font {
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
      }
      .create__get-started--format-item-txt {
        color: var(--Grey-600, #767676);
        font-family: Pretendard400;
        font-size: 14px;
        font-style: normal;
        line-height: 22px;
        font {
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          color: inherit !important;
          letter-spacing: inherit !important;
        }
        // span {
        //   margin-top: 8px;
        //   display: block;
        //   color: #565656;
        //   font-family: Pretendard400;
        //   font-size: 14px;
        //   font {
        //     font-family: inherit !important;
        //     font-size: inherit !important;
        //     font-weight: inherit !important;
        //     line-height: inherit !important;
        //     font-style: inherit !important;
        //     color: inherit !important;
        //     letter-spacing: inherit !important;
        //   }
        // }
      }
      .create__get-started--format-item-select {
        border-radius: 8px;
        background: #222;
        padding: 8px;
        color: #565656;
        font-family: Pretendard400;
        font-size: 14px;
        margin-top: 16px;
        .create__get-started--format-item-select-title {
          color: #aaa;
          font-family: Pretendard400;
          font-size: 14px;
        }
        .create__get-started--format-item-select-items {
          .container {
            .radio {
              input {
                display: none;
              }
              .radio-label {
              }
            }
          }
        } //create__get-started--format-item-select-items--END--
      } //create__get-started--format-item-select--END--
    } //create__get-started--format-item--END--
  } //create__get-started--format-item-group--END--
} //create__get-started--format--END--
.create__get-started {
  .create__btn {
    width: 100%;
    max-width: 1160px;
    height: auto;
    .create__get-started--button {
      width: 100%;
      font {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        font-style: inherit !important;
        color: inherit !important;
        letter-spacing: inherit !important;
      }
    }
    .tw-connect-wallet {
      margin-top: 16px;
      width: 100%;
    }
  }
}
.create__get-started--radio-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  .create__get-started--radio-box--title {
    color: #fff;
    font-family: Pretendard700;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
  }
  .created__get-started--radio-box-group {
    display: flex;
    gap: 30px;
    .created__get-started--privacy,
    .created__get-started--creation-mode,
    .created__get-started--version {
      h3 {
        color: #f1f1f1;
        font-family: Pretendard600;
        font-size: 16px;
        margin-bottom: 8px;
        font {
          color: inherit !important;
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          letter-spacing: inherit !important;
          word-spacing: inherit !important;
          font-variant: inherit !important;
          text-transform: inherit !important;
          text-rendering: inherit !important;
          -webkit-font-smoothing: inherit !important;
        }
      }

      .creation-mode-options,
      .version-mode-options {
        display: flex;
        width: 366.66px;
        height: 186px;
        max-width: 500px;
        padding: 30px 80px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        flex: 1 0 0;
        border-radius: 20px;
        border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1));
        background: var(--White-05, rgba(255, 255, 255, 0.05));
        .creation-mode-title,
        .version-mode-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          img {
            width: 24px;
            height: 24px;
          }
          p {
            color: #fff;
            font-family: Pretendard700;
            font-size: 18px;
            font-style: normal;
            line-height: 28px;
          }
        }
        font {
          color: inherit !important;
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          font-style: inherit !important;
          letter-spacing: inherit !important;
          word-spacing: inherit !important;
          font-variant: inherit !important;
          text-transform: inherit !important;
          text-rendering: inherit !important;
          -webkit-font-smoothing: inherit !important;
        }
      }

      .privacy-option-group {
        display: flex;
        gap: 30px;
        .privacy-option {
          display: flex;
          align-items: center;
          gap: 8px;

          input[type='radio'] {
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #ccc;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
            position: relative;
            padding: 0;

            &:checked {
              border-color: #fff;

              &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 50%;
              }
            }
          }

          label {
            color: var(--White, #fff);
            font-family: Pretendard400;
            font-size: 14px;
            font-style: normal;
            line-height: 22px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
// 반응형 임시 코드
// @media screen and (max-width: 1300px) {
//   .create__get-started--radio-box {
//     flex-direction: column;
//     .created__get-started--privacy,
//     .created__get-started--creation-mode {
//       width: 100%;
//       .privacy-option,
//       .creation-mode-options {
//         width: 100%;
//       }
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .privacy-option,
//   .creation-mode-options {
//     width: 100% !important;
//   }

//   .create__get-started--version {
//     &.active {
//       .create__get-started--version__select {
//         .create__get-started--version__select__list {
//           height: 162px !important;
//         }
//       }
//     }
//   }
//   .create__get-started {
//     padding: 0px 32px 64px;
//     margin-top: 32px;
//     .create__get-started--title {
//       font-size: 28px;
//     }
//     .create__get-started--subtitle {
//       font-size: 18px;
//     }
//   }
//   .create__get-started--format {
//     flex-direction: column;
//   }
//   .create__get-started--radio-box {
//     margin: 20px 0;
//     display: flex;
//     flex-direction: column;
//     gap: 16px;
//   }
// }
@media screen and (max-width: 1228px) {
  .create__get-started {
    padding: 0px 30px 64px;

    .create__get-started--radio-box {
      flex-direction: column;
      gap: 16px;

      .created__get-started--radio-box-group {
        flex-direction: column;
        gap: 16px;

        .created__get-started--privacy,
        .created__get-started--creation-mode,
        .created__get-started--version {
          width: 100%;
          box-sizing: border-box;
        }
      }
    }

    .create__get-started--format {
      width: 100%;
      .create__get-started--format-item-group {
        flex-direction: column;
        gap: 16px;

        .create__get-started--format-item {
          width: 100%;
          padding: 30px;
          box-sizing: border-box;
        }
      }
    }

    .create__btn {
      width: 100%;
      max-width: 1160px;

      .create__get-started--button {
        width: 100%;
      }

      .tw-connect-wallet {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .create__get-started {
    padding: 0px 30px 64px;
    margin-top: 32px;

    .create__get-started--title {
      font-size: 28px;
    }

    .create__get-started--subtitle {
      font-size: 18px;
    }

    .create__get-started--radio-box {
      margin: 20px 0;
      flex-direction: column;
      gap: 16px;

      .created__get-started--radio-box-group {
        flex-direction: column;
        gap: 16px;

        .created__get-started--privacy,
        .created__get-started--creation-mode,
        .created__get-started--version {
          width: 100%;
          padding: 0;
          box-sizing: border-box;
        }
      }
    }

    .create__get-started--format {
      width: 100%;
      padding: 0;
      .create__get-started--format-item-group {
        flex-direction: column;
        gap: 16px;
        width: 100%;

        .create__get-started--format-item {
          width: 100%;
          padding: 30px;
          box-sizing: border-box;
        }
      }
    }

    .create__btn {
      width: 100%;
      max-width: 1160px;

      .create__get-started--button {
        width: 100%;
      }

      .tw-connect-wallet {
        margin-top: 16px;
        width: 100%;
      }
    }
  }
}
