.create__get-started {
  padding: 32px 100px 100px;
  background-image: url('../../assets/images/create/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  .create__get-started--title {
    color: #cf0;
    font-family: orbitron700;
    font-size: 40px;
    letter-spacing: 1.2px;
    margin-bottom: 40px;
  }
  .create__get-started--subtitle {
    color: #aaa;
    font-family: orbitron600;
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 40px;
  }

  .create__get-started--features {
    margin-bottom: 40px;
    &.sequence {
      display: flex;
      justify-content: space-between;
    }
  }

  .create__get-started--features-title {
    color: #f1f1f1;
    font-family: orbitron600;
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-bottom: 8px;
  }
  .create__get-started--features-items {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  .create__get-started--features-item {
    color: #aaa;
    font-family: Inter500;
    font-size: 14px;
    letter-spacing: 0.42px;
  }
  .create__get-started--button {
    color: #1a1a1a;
    font-family: orbitron600;
    letter-spacing: 0.48px;
    padding: 8px 10px;
    border-radius: 12px;
    background-color: #cf0;
    float: right;
    position: relative;
    transition: 0.2s all;

    &:hover {
      transform: translateY(5px);
      &::after {
        transform: translateY(0px);
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      top: 0;
      left: 0;
      transform: translateY(5px);
      border-radius: 12px;
      border: 1px solid;
      border-color: #cf0;
      transition: 0.2s all;
    }

    &:disabled {
      color: #565656 !important;
      background-color: #000 !important;
      border: 1px solid #2c3a00 !important;
      cursor: not-allowed;
      &:hover {
        transform: translateY(0px);
        &::after {
          transform: translateY(3px);
        }
      }

      &::after {
        display: none;
      }
    }
  }

  .disabled {
    color: #565656 !important;
    background-color: #000 !important;
    border: 1px solid #2c3a00 !important;
  }
  .tw-connect-wallet {
    color: #1a1a1a;
    font-family: orbitron600;
    letter-spacing: 0.48px;
    padding: 8px 10px;
    border-radius: 12px;
    background-color: #cf0;
    float: right;
  }

  .버튼 {
    background-color: #cf0;
    border-radius: 12px;
    padding: 8px 24px;
    color: #000;
    font-family: orbitron600;
  }

  $color1: #555;
  $color2: #00ffb3;
  .radio {
    margin: 0.5rem;
    input[type='radio'] {
      position: absolute;
      opacity: 0;
      + .radio-label {
        &:before {
          content: '';
          background: $color1;
          border-radius: 100%;
          border: 1px solid darken($color1, 25%);
          display: inline-block;
          width: 1.4em;
          height: 1.4em;
          position: relative;
          top: -0.2px;
          margin-right: 1em;
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      }
      &:checked {
        + .radio-label {
          &:before {
            background-color: $color2;
            box-shadow: inset 0 0 0 4px $color1;
          }
        }
      }
      &:focus {
        + .radio-label {
          &:before {
            outline: none;
            border-color: $color2;
          }
        }
      }
      &:disabled {
        + .radio-label {
          &:before {
            box-shadow: inset 0 0 0 4px $color1;
            border-color: darken($color1, 25%);
            background: darken($color1, 25%);
          }
        }
      }
      + .radio-label {
        &:empty {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.create__get-started--version {
  &.active{
    .create__get-started--version__select__title{
      border: 1px solid #cf0 !important;
      &::after{
        transform: translate(0,-50%) rotate(180deg) !important;
      }
    }
    .create__get-started--version__select__list{
      height: 166px !important;
      opacity: 1 !important;
      border: 1px solid #678300 !important;
    }
  }
  .create__get-started--version__title{
    color: var(--Text-music-title, #F1F1F1);
    font-family: Orbitron700;
    font-size: 16px;
    margin-bottom: 16px;
  }//create__get-started--version__title--END--
  .create__get-started--version__select{
    position: relative;
    width: 100%;
    .create__get-started--version__select__title{
      border-radius: 12px;
      border: 1px solid #383838;
      background: #0B0B0C;
      height: 54px;
      color: var(--Text-music-title, #F1F1F1);
      font-family: Inter400;
      font-size: 14px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      cursor: pointer;
      transition: 0.3s;
      &::after{
        content: '';
        display: block;
        position: absolute;
        right: 16px;
        top:50%;
        transform: translate(0,-50%);
        width: 20px;
        height: 20px;
        background: url('../../assets/images/arrow_down.svg') center no-repeat;
        background-size: cover;
        transition: 0.3s;
      }
    }
    .create__get-started--version__select__list{
      width: 100%;
      background: #0B0B0C;
      border-radius: 12px;
      border: 1px solid transparent;
      transition: 0.3s;
      overflow: hidden;
      position: absolute;
      top: 58px;
      z-index: 1;
      left: 0;
      height: 0;
      opacity: 0;
      li{
        padding: 10px 16px;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
          background: #222;
        }
        p,span{
          color: #FFF;
          font-family: Inter400;
          font-size: 14px;
        }
        span{
          margin-top: 8px;
        }
      }
    }//create__get-started--version__select__list--END--
  }//create__get-started--version__select--END--


  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  label {
    color: var(--Text-music-sub, #aaa);
    font-family: Inter400;
    font-size: 14px;
    margin-bottom: 8px;
  }
  select {
    border-radius: 8px;
    background: #222;
    padding: 8px;
    color: var(--Text-music-un, #565656);
  }
}
.create__get-started--format {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  .create__get-started--format-item {
    flex: 1;
    border-radius: 12px;
    background: #1a1a1a;
    padding: 16px;
    border: 1px solid transparent;
    transition: 0.3s;
    cursor: pointer;
    &.active {
      border: 1px solid #cf0;
      .create__get-started--format-item-title {
        color: #cf0;
      }
      .create__get-started--format-item-txt {
        color: var(--Text-music-title, #f1f1f1);
        font-family: Inter400;
        font-size: 14px;
        span {
          color: var(--Text-music-sub, #aaa);
          font-family: Inter400;
          font-size: 14px;
        }
      }
    }
    .create__get-started--format-item-title {
      color: var(--Text-music-sub, #aaa);
      font-family: Orbitron700;
      font-size: 16px;
      margin-bottom: 12px;
    }
    .create__get-started--format-item-txt {
      color: var(--Text-music-un, #565656);
      font-family: Inter400;
      font-size: 14px;
      span {
        margin-top: 8px;
        display: block;
        color: var(--Text-music-un, #565656);
        font-family: Inter400;
        font-size: 14px;
      }
    }
    .create__get-started--format-item-select {
      border-radius: 8px;
      background: #222;
      padding: 8px;
      color: var(--Text-music-un, #565656);
      font-family: Inter400;
      font-size: 14px;
      margin-top: 16px;
      .create__get-started--format-item-select-title {
        color: var(--Text-music-sub, #aaa);
        font-family: Inter400;
        font-size: 14px;
      }
      .create__get-started--format-item-select-items {
        .container {
          .radio {
            input {
              display: none;
            }
            .radio-label {
            }
          }
        }
      } //create__get-started--format-item-select-items--END--
    } //create__get-started--format-item-select--END--
  } //create__get-started--format-item--END--
} //create__get-started--format--END--
.create__get-started {
  .create__btn {
    .create__get-started--button {
      width: 100%;
      margin-top: 16px;
    }
    .tw-connect-wallet {
      margin-top: 16px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .create__get-started--version{
    &.active{
      .create__get-started--version__select{
        .create__get-started--version__select__list{
          height: auto !important;
        }
      }
    }

  }
  .create__get-started {
    padding: 0px 32px 64px;
    margin-top: 32px;
    .create__get-started--title {
      font-size: 28px;
    }
    .create__get-started--subtitle {
      font-size: 18px;
    }
  }
  .create__get-started--format {
    flex-direction: column;
  }
}
