.create__lyric-lab {
    .generated-lyrics__lyrics {
        background-color: transparent;
        width: 100%;
        resize: none;
        min-height: 600px;
        max-height: 600px;
        // overflow: auto;
        // overflow: ;
        textarea{
            // min-height: 600px;
            // max-height: 600px;
        }
    }

    .generated-lyrics__confirm-buttons {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-end;
        gap: 32px;
    }

    .generated-lyrics__confirm-buttons--button {
        // 임시 클래스입니다.
        width: 100%;
        max-width: 210px;
        height: 40px;
        color: #000;
        font-family: Orbitron700;
        border-radius: 12px;

        &.edit {
            background-color: #66fcff;
        }
        &.confirm {
            background-color: #cf0;
        }
    }

    .generated-lyrics__download-buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .generated-lyrics__download-buttons--button {
        border-radius: 12px;
        font-family: Orbitron600;
        letter-spacing: 0.48px;
        height: 40px;
        &.txt {
            color: #f1f1f1;
            background-color: #383838;
        }
        &.pdf {
            color: #1a1a1a;
            background-color: #cf0;
        }
    }

    .mb16 {
        margin-bottom: 16px;
    }
    .mb40 {
        margin-bottom: 40px;
    }
}




@media screen and (max-width: 410px) {
    .create__lyric-lab{
        .generated-lyrics__lyrics{
            font-size: 12px;
        }
    }
}

