.create__melody-maker {
  .title__text {
    font-size: 18px;
  }
}

.music-response {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.music-response-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  // padding:0 0px 16px 0px;
  border-radius: 2px;
  border: 2px solid #2d2d2d;
  &.active {
    border: 2px solid #cf0;
    // background: #;
    // background: #3c3c3c;
  }
  img {
    width: 100%;
    max-height: 340px;
    object-fit: cover;
  }
  .music-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 16px;
    h3 {
      font-size: 14px;
      // padding: 16px 0 0 0;
      color: #cf0;
    }
    .rhap_container {
      background: #cf0;
      border: 1px solid #cf0;
      border-radius: 2px;
      * {
        color: #000;
      }
    }
    .rhap_main-controls {
      button {
        font-family: math !important;
      }
    }
    .rhap_volume-container {
      & > div {
        position: relative;
        top: 7px;
      }
    }
    .rhap_progress-indicator {
      background: #000 !important;
      width: 10px;
    }
    .rhap_volume-indicator {
      background: #000;
      width: 8px;
    }
  } //music-info--END--
} //music-response-item--END--

.selected-tag-list {
  pre {
    background: transparent;
    line-height: 1.4;
  }
} //selected-tag-list--END--

.lyrics-box {
  padding: 16px 0;
  background: transparent;
}

.create__btn {
  width: 100%;
  height: auto;
  .create__get-started--button {
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Primary_Dark, #3a9de3);
    color: var(--White, #fff);
    text-align: center;
    font-family: Pretendard700;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;

    // &:hover {
    //   transform: translateY(5px);
    //   &::after {
    //     transform: translateY(0px);
    //   }
    // }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   box-sizing: border-box;
    //   top: 0;
    //   left: 0;
    //   transform: translateY(5px);
    //   border-radius: 12px;
    //   border: 1px solid;
    //   border-color: #cf0;
    //   transition: 0.2s all;
    // }

    &:disabled {
      cursor: not-allowed;
      display: flex;
      padding: 12px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 12px;
      background: #24333e !important;
      color: var(--Grey-600, #767676) !important;
      text-align: center;
      font-family: Pretendard700;
      font-size: 16px;
      font-style: normal;
      line-height: 24px;
      &:hover {
        transform: translateY(0px);
        &::after {
          transform: translateY(3px);
        }
      }

      &::after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .music-response {
    flex-direction: column;
  } //music-response--END--
}
