.info-grid {
    .info-grid__title {
        color: #F1F1F1;
        font-family: Pretendard600;
        font-size: 14px;
        margin-bottom: 16px;
    }

    .info-grid__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        .info-grid__content--item {
            background: #222;
            border-radius: 12px;
            padding: 16px;

            &.long {
                grid-column: 1 / -1;
            }

            dt {
                color: #AAA;
                font-family: Pretendard400;
                font-size: 12px;
                margin-bottom: 8px;
            }

            dd {
                color:#F1F1F1;
                font-family: Pretendard600;
                font-size: 14px;
            }
        }
    }
} 