@font-face {
  font-family: 'Pretendard400';
  src: url('./assets/fonts/Pretendard-Regular.woff');
}

@font-face {
  font-family: 'Pretendard500';
  src: url('./assets/fonts/Pretendard-Medium.woff');
}

@font-face {
  font-family: 'Pretendard600';
  src: url('./assets/fonts/Pretendard-SemiBold.woff');
}

@font-face {
  font-family: 'Pretendard700';
  src: url('./assets/fonts/Pretendard-Bold.woff');
}

@font-face {
  font-family: 'Pretendard800';
  src: url('./assets/fonts/Pretendard-ExtraBold.woff');
}

@font-face {
  font-family: 'Pretendard900';
  src: url('./assets/fonts/Pretendard-Black.woff');
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #121212;
  position: relative;
  font-size: 14px;
  line-height: 120%;
  font-family: 'Pretendard';
}
#root {
  background: #121212;
}
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
  outline: none;
}
ul, ol {
  list-style: none;
}

th {
  font-weight: normal;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  background: transparent;
  color: #fff;
  &:disabled,
  &.disabled {
    background-color: #000 !important;
    color: #565656 !important;
    /* border: 1px solid #2c3a00 !important; */
    pointer-events: none !important;
    &::after {
      width: 100%;
      border: none !important;
      border-bottom: 1px solid #2c3a00 !important;
    }
  }
}

input,
textarea {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 12px;
  border: 1px solid #383838;
  color: #fff;
  font-family: ' Pretendard600';
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  background: transparent;
}

input {
  outline: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}
input[type='submit'] {
  cursor: pointer;
}
img {
  display: block;
}
.App {
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}
::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 10px;
  border: 4px solid #1f1f1f;
  /* background-clip: padding-box; */
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  width: 5px;
}

.header-flex {
  display: flex;
  gap: 16px;
}
.inner {
  width: calc(100% - 246px);
  margin-left: auto;
  padding: 24px 16px 100px;
}

font {
  /* all: inherit !important; */
  /* font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  font-style: inherit !important;
  color: inherit !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  font-variant: inherit !important;
  text-transform: inherit !important;
  text-rendering: inherit !important;
  -webkit-font-smoothing: inherit !important; */
}
pre font{
  all: unset;
  font-family: 'Prentendard';
}

@media screen and (max-width: 1000px) {
  .inner {
    padding: 114px 16px 100px;
    width: 100%;
  }
}
